<% content_for :head do %>
	<%= javascript_include_tag('jquery.livequery') %>
	<%= javascript_include_tag('edit') %>
	<%= javascript_include_tag('content') %>
<% end %>

<%#
  This gets copied for each iteration of form_for... not a good practice
  however, neccessary because we use f.file_field in the ruby of addAttachment
  if we could find a way to pass that information in we could not copy
  pass it in as a string?  since we use it as a string anyway...
%>
<script type="text/javascript">
removeAttachment = function(removeButton) {
	$(removeButton).up().remove();
}

addAttachment = function() {
    //need to change so that there is no bottom margin for GUI goodness
	var host = $('attachments');
    var editor = document.createElement('span');
	editor.innerHTML =
	    '<%= file_field_tag "content[content_attachments][]", :class => "formField" %>' +
    	'<input type="button" value="Remove" onclick="removeAttachment(this)" />';
	host.appendChild(editor);
}

</script>
<% fields_for content do |f| %>  
<% 	#create a list of objects if they aren't null to do error_messages_for on
	objects = []
	objects << content if content
	objects << content.attachments if content.attachments
%>
<%= error_messages_for(:content, :object => objects) %>

<fieldset class="input">

	<div class="inp group">
		<%= f.label(:title, 'Title') %>
		<%= f.text_field :title, :class => "inp_text" %>		
	</div>

	<div class="inp group">
		<%= f.label(:author, 'Author') %>
		<%= f.text_field :author, :class => "inp_text" %>
	</div>

	<div class="inp group">
		<%= f.label(:teaser, "Teaser") %>
		<%= f.text_area(:teaser, :rows => 7, :cols => 66, :class => "inp_area") %>
	</div>

	<div class="inp group">
		<%= f.label(:body, 'Body') %>
		<%= f.text_area(:body, :rows => 25, :cols => 66, :mce_editable => "true", :class => "inp_area large") %>
	</div>

	<div class="columns">
			<h3 class="separator">Embedded Audio &amp; Video</h3>
			<p>Audio and video uploaded here will be embedded in the lesson.</p>
			<%= f.file_field :embedded_media, :size => 17, :class => "inp_file" %>
	</div>

  <h3 class="separator">Attachments</h3>
	<ul class="attachments_list attachment">
	</ul>
	<ul class="attachments_add attachment repeatable clearsub">
		<li class="create">
			<%= file_field_tag "content[content_attachments][]", :size => 17, :class => "inp_file wide" %>
		</li>
	</ul>


	<h3 class="separator">Lesson Publishing</h3>
	<ul class="checkbox group">
		<li>
			<%= f.check_box :draft %>
			<%= f.label :draft, 'Draft?' %>
		</li>
	</ul>
	<ul class="checkbox group">
		<li>
			<%= f.radio_button :registered, "false", :id => 'content_public' %>
			<%= f.label :registered, 'Public' %>
		</li>
		<li>
			<%= f.radio_button :registered, "true", :id => 'content_registered' %>
			<%= f.label :registered, 'Registered' %>
		</li>
  </ul>
  <h3 class="separator">If Registered, Limit Access to These Members:</h3>
	<ul class="checkbox group">
	  <%= hidden_field_tag "content[access_class_ids][]", "" %>
		<% current_community.access_classes.each do |access_class|%>
		<li>
		  <%= check_box_tag "content[access_class_ids][]", access_class.id, content.access_classes.include?(access_class), :class => "content_access_class" %>
			<%= label_tag "content[access_class_ids][]", access_class.name %>
		</li>
		<% end %>
	</ul>

</fieldset>
<% end %>