<div class="title">
	<h2><%=h content %></h2>
	<ul class="meta_info clear">
		<li class="date first"><%= content.updated_at.to_s(:day_month_year) %></li>
		<% if content.article && content.article.categories.size > 0 %>
		<li class="theme">
			<% content.article.reload%>
			<% content.article.categories.each do |article_category| %>
			  <%= link_to article_category, library_url(:category => article_category) %><%= ", " if article_category != content.article.categories.last %>
			<% end %>
		</li>
		<% end %>
		<% unless content.author.blank? %>
		<li class="author"><%= content.author %></li>
		<% end %>
		<li class="meta_tags">
			<ul>
				<%= content_notes(content) %>
			</ul>
		</li>
	</ul>
</div>
<% if content.lesson && logged_in_as_owner? %>
	<div class="module actions">
		<div class="content">
			<h4>Lesson Actions</h4>
			<ul class="action_nav">
				<li class="edit"><%= link_to("Edit <span class='action_target'>Lesson</span>", edit_course_chapter_lesson_url(@course, @chapter, @lesson))  if logged_in_as_owner? %></li>
				<li class="delete"><%= link_to("Delete <span class='action_target'>Lesson</span>", course_chapter_lesson_url(@course, @chapter, @lesson), :method => :delete, :confirm =>  "Are you sure you would like to delete this lesson?")  if logged_in_as_owner? %></li>
			</ul>
		</div>
	</div>
<% end %>
<% if content.article && logged_in_as_owner? %>
	<div class="module actions">
		<div class="content">
			<h4>Article Actions</h4>
			<ul class="action_nav">
				<li class="edit"><%= link_to "Edit <span class='action_target'>Article</span>", edit_article_url(@article)  if logged_in_as_owner? %></li>
				<li class="delete"><%= link_to("Delete <span class='action_target'>Article</span>", article_url(@article), :method => :delete, :confirm =>  "Are you sure you would like to delete this article?")  if logged_in_as_owner? %></li>
			</ul>
		</div>
	</div>
<% end %>
<div class="intro">
	<p><%= teaser_format(content.teaser) %></p>
</div>
<% if (embedded_media = content.attachments.find_by_embedded(true)) %>
	<% embedded_media_url = embedded_media.authenticated_s3_url(:expires_in => 2.hours) %>
	<div class="module video">
		<% if embedded_media.content_type.include?("image") %>
		<img src="<%= embedded_media_url %>" />
		<% elsif embedded_media.content_type.include?("video") %>
		<div id="player<%=embedded_media.id%>">
			This text will be replaced
		</div>
		<script type="text/javascript">
			var so = new SWFObject('/mediaplayer.swf', 'mpl', '500', '500', '8');
			so.addParam('allowfullscreen', 'true');
			so.addParam('allowscriptaccess', 'true');
			so.addVariable('width', '500');
			so.addVariable('height', '500');
			so.addVariable('file', encodeURIComponent(encodeURIComponent('<%= embedded_media_url %>')));
			so.addVariable('type', 'flv');
			so.addVariable('autostart', 'false');
			so.write('player<%= embedded_media.id%>');
		</script>
		<% elsif embedded_media.content_type.include?("audio") %>
		<div id="player<%=embedded_media.id%>">
		This text will be replaced
		</div>
		<script type="text/javascript">
			var so = new SWFObject('/mediaplayer.swf', 'mpl', '500', '20', '8');
			so.addParam('allowfullscreen', 'false');
			so.addParam('allowscriptaccess', 'true');
			so.addVariable('file', encodeURIComponent(encodeURIComponent('<%= embedded_media_url %>')));
			so.addVariable('type', 'mp3');
			so.addVariable('autostart', 'false');
			so.write('player<%= embedded_media.id%>');
		</script>
		<% end %>
	</div>
<% end %>
<p><%= auto_link(content.body) %></p>