<div class="title">
	<h2><%=h content %></h2>
	<ul class="meta_info clear">
		<li class="date first"><%= content.updated_at.to_s(:day_month_year) %></li>
		<% if content.article && content.article.categories.size > 0 %>
		<li class="theme">
			<% content.article.reload%>
			<% content.article.categories.each do |article_category| %>
			  <%= link_to article_category, library_url(:category => article_category) %><%= ", " if article_category != content.article.categories.last %>
			<% end %>
		</li>
		<% end %>
		<% unless content.author.blank? %>
		<li class="author"><%= content.author %></li>
		<% end %>
		<li class="meta_tags">
			<ul>
				<%= content_notes(content) %>
			</ul>
		</li>
	</ul>
</div>
<% if content.lesson && logged_in_as_owner? %>
	<div class="module actions">
		<div class="content">
			<h4>Lesson Actions</h4>
			<ul class="action_nav">
				<li class="edit"><%= link_to("Edit <span class='action_target'>Lesson</span>", edit_lesson_url(@lesson))  if logged_in_as_owner? %></li>
				<li class="delete"><%= link_to("Delete <span class='action_target'>Lesson</span>", lesson_url(@lesson), :method => :delete, :confirm =>  "Are you sure you would like to delete this lesson?")  if logged_in_as_owner? %></li>
			</ul>
		</div>
	</div>
<% end %>
<% if content.article && logged_in_as_owner? %>
	<div class="module actions">
		<div class="content">
			<h4>Article Actions</h4>
			<ul class="action_nav">
				<li class="edit"><%= link_to "Edit <span class='action_target'>Article</span>", edit_article_url(@article)  if logged_in_as_owner? %></li>
				<li class="delete"><%= link_to("Delete <span class='action_target'>Article</span>", article_url(@article), :method => :delete, :confirm =>  "Are you sure you would like to delete this article?")  if logged_in_as_owner? %></li>
			</ul>
		</div>
	</div>
<% end %>
<div class="intro">
	<p><%= teaser_format(content.teaser) %></p>
</div>
<% if (embedded_media = content.attachments.find_by_embedded(true)) %>
	<% embedded_media_url = embedded_media.url %>
	<div class="module video">
	  <% if embedded_media.encoding_successful? -%>
  		<% if embedded_media.image? %>
  		<img src="<%= embedded_media_url %>" />
  		<% elsif embedded_media.legacy_video? %>
  		<div id="player<%=embedded_media.id%>">
  			This text will be replaced
  		</div>
  		<script type="text/javascript">
  			var so = new SWFObject('/mediaplayer.swf', 'mpl', '510', '500', '9');
  			so.addParam('allowfullscreen', 'true');
  			so.addParam('allowscriptaccess', 'true');
  			so.addVariable('width', '510');
  			so.addVariable('height', '500');
  			so.addVariable('file', encodeURIComponent(encodeURIComponent('<%= embedded_media_url %>')));
  			so.addVariable('autostart', 'false');
  			so.write('player<%= embedded_media.id%>');
  		</script>
  		<% elsif embedded_media.video? %>
  		  <%= embedded_media.panda_embed_js %>
  		<% elsif embedded_media.audio? %>
  		<div id="player<%=embedded_media.id%>">
  		This text will be replaced
  		</div>
  		<script type="text/javascript">
  			var so = new SWFObject('/mediaplayer.swf', 'mpl', '510', '20', '9');
  			so.addParam('allowfullscreen', 'false');
  			so.addParam('allowscriptaccess', 'true');
  			so.addVariable('width', '510');
  			so.addVariable('height', '20');
  			so.addVariable('file', encodeURIComponent(encodeURIComponent('<%= embedded_media_url %>')));
  			so.addVariable('autostart', 'false');
  			so.write('player<%= embedded_media.id%>');
  		</script>
  		<% end %>
  	<% elsif embedded_media.encoding_failed? -%>
  	  <p>There was an error processing your video. Please contact Thoughtlead support for assistance.</p>
  	<% elsif embedded_media.processing? -%>
  	  	  <p>We're hard at work processing this video!</p>
  	<% end -%>
	</div>
	<div style="clear:both">&nbsp;</div>
<% end %>
<p><%= auto_link(content.body) %></p>