<h1 class="grouped"><%=h content %></h1>
<div id="lesson_body">
    <div class="lesson_info">
        <p>
            <% unless content.author.blank? %>
            by <strong><%= content.author %></strong>&nbsp;|&nbsp;<% end %>
            <%= content.updated_at.to_s(:day_month_year) %>
        </p>
    </div>
    <div class="lesson_info">
        <p>
            <%= teaser_format(content.teaser) %>
        </p>
    </div>
    <% if (embedded_media = content.attachments.find_by_embedded(true)) %>
    <% embedded_media_url = embedded_media.authenticated_s3_url(:expires_in => 2.hours) %>
    <p>
        <%= embedded_media.filename %>
    </p>
    <% if embedded_media.content_type.include?("image") %>
    <img src="<%= embedded_media_url %>" />
    <p>
    </p>
    <% elsif embedded_media.content_type.include?("video") %>
    <div id="player<%=embedded_media.id%>">
        This text will be replaced
    </div>
    <script type="text/javascript">
        var so = new SWFObject('/mediaplayer.swf', 'mpl', '500', '500', '8');
        so.addParam('allowfullscreen', 'true');
        so.addParam('allowscriptaccess', 'true');
        so.addVariable('width', '500');
        so.addVariable('height', '500');
        so.addVariable('file', encodeURIComponent(encodeURIComponent('<%= embedded_media_url %>')));
        so.addVariable('type', 'flv');
        so.addVariable('autostart', 'false');
        so.write('player<%= embedded_media.id%>');
    </script>
    <% elsif embedded_media.content_type.include?("audio") %>
    <div id="player<%=embedded_media.id%>">
        This text will be replaced
    </div>
    <script type="text/javascript">
        var so = new SWFObject('/mediaplayer.swf', 'mpl', '500', '20', '8');
        so.addParam('allowfullscreen', 'false');
        so.addParam('allowscriptaccess', 'true');
        so.addVariable('file', encodeURIComponent(encodeURIComponent('<%= embedded_media_url %>')));
        so.addVariable('type', 'mp3');
        so.addVariable('autostart', 'false');
        so.write('player<%= embedded_media.id%>');
    </script>
    <% end %>
    <% end %>
    <%= auto_link(content.body) %>
