<% form_for @discussion, :html => { :class => 'edit' } do | f | %>
	<%= f.error_messages %>

	<fieldset class="input">

		<div class="inp group">
			<%= f.label(:title) %>
			<%= f.text_field :title, :class => "inp_text" %>
		</div>

		<div class="inp group">
			<%= f.label(:body) %>
			<%= f.text_area(:body, :rows => 8) %>
		</div>

		<% if !current_community.themes.empty? %>
		<div class="inp group">
		    <%= f.label :theme_id, 'Theme' %>
		    <%= f.select(:theme_id, [[ "Choose a theme...", nil ]] + current_community.themes.map { | each | [ each.name, each.id ] } ) %>
		</div>
		<% end %>
	</fieldset>
	<fieldset class="submit">
		<ul class="submit_opts">
			<% if mode == :new %>
			<li><%= submit_tag "Create Discussion", :class => "make_button", :id => "create" %></li>
			<% else %>
			<li><%= submit_tag "Save Changes", :class => "make_button", :id => "save" %></li>
			<% end %>
			<li class="text">or <%= link_to "Cancel", @discussion %></li>
		</ul>
	</fieldset>
<% end %>