<% @current_tab = :Discussions %>

<div id="primary">
  <div class="discussions">
    
    <% for discussion in @discussions %>
    <div class="discussion">
      <span class="avatar">
        <%= avatar_for(discussion.user, :small) %>
      </span>
      <h2 class="grouped"><%= link_to h(discussion), discussion %></h2> 
      <p><%=h discussion.body %> <%= link_to  'Continue reading &hellip;', discussion %></a></p>
      <div class="discussion_info meta_info">
        <span class="author">by <%= link_to h(discussion.user), discussion.user %></span>
        <span class="date_posted">&nbsp;|&nbsp;<%= discussion.created_at.to_s(:month_day) %></span>
        <span class="responses">&nbsp;|&nbsp;<%= link_to pluralize(discussion.responses.count, "Response"), discussion %></span>
      </div>
    </div>
    <% end %>

  </div>
</div>
<div id="secondary">
  <ul class="actions first">
    <li>
      <%= link_to "+ Add a Discussion Topic", new_discussion_url, :class => 'action' %>
    </li>
    <% if logged_in? && current_user.owner? %>
      <li>
        <%= link_to "Edit Categories", categories_url, :class => :action %>
      </li>
    <% end %>
  </ul>
  
  <% if !current_community.categories.empty? %>
    <ul>
      Categories
      <% for category in current_community.categories %>
        <% content_tag(:li, :class => current_class_for_category(category)) do %>
          <%= link_to category, discussions_url(:category => category) %>
        <% end %>
      <% end %>
      <% if current_community.discussions.for_category('nil').count > 0 %>
        <% content_tag(:li, :class => current_class_uncategorized) do %>
          <%= link_to "Uncategorized", discussions_url(:category => 'nil') %>
        <% end %>
      <% end %>
      <% content_tag(:li, :class => current_class_all_tasks) do %>
        <%= link_to "All Discussions", discussions_url %>
      <% end %>
    
    </ul>
  <% end %>
  
</div>