<% @current_tab = :Discussions %>
<div id="main_content">
	<div class="content_bar" id="top">
		<div class="breadcrumbs">
			<p>Jump to:</p>
			<ul>
				<li class="first"><%= link_to "Discussions", discussions_path %></li>
				<% if @theme %>
					<li><%= h(snippet(@theme.to_s)) %></li>
				<% end %>
			</ul>
		</div>

		<%= create_discussion_link %>
	</div>

	<% if @theme %>
		<div class="page_title">
			<h2>Theme: <%= @theme.name %></h2>
			<p><%= @theme.description %></p>
		</div>
	<% else %>
		<div class="page_title">
			<h2><%= "#{current_community} #{@current_tab}" %></h2>
			<p>Ask questions, contribute your expertise, and engage with other members. Sort discussions by topic using the tabs to the right.</p>
		</div>
	<% end %>

	<ul class="article_list discussions clearsub">

		<% for discussion in @discussions %>
			<li>
				<div class="item_image module image">
					<div class="image_wrap"><%= avatar_for(discussion.user, :small) %></div>
				</div>
				<div class="item_content">
					<div class="title">
						<h2><%= link_to(h(discussion),discussion) %></h2>
						<ul class="meta_info clear">
							<li class="author first">
								<%= link_to(h(discussion.user),discussion.user) %>

								<% if discussion.user.expert? %>
									<span class="marker expert replace" /><span>Expert</span></span>
								<% end %>

							</li>
							<li class="date"><%= discussion.created_at.to_s(:month_day) %></li>
							<li class="comments">
								<%= link_to pluralize(discussion.responses.count, "Response"), discussion_path(discussion, :anchor => :responses) %>
							</li>
						</ul>
					</div>
					<div class="content">
						<p><%= h truncate(discussion.body, :length => 200) %>&nbsp;<%= link_to "Continue Reading", discussion_path(discussion), :class => :more %><span class="arrow">&nbsp;</span></p>
					</div>
				</div>
			</li>
		<% end %>

	</ul>

	<% if @discussions.total_pages > 1 %>
		<div class="apple_pagination">
			<%= will_paginate @discussions %>
		</div>
	<% end %>

</div>
<%= render :partial => 'theme_sidebar' %>