<% @current_tab = :Discussions %>

<div id="primary">
  <div class="discussions">

    <% for discussion in @discussions %>
    <div class="discussion">
      <h2 class="grouped"><%= link_to discussion, discussion %></h2>
      
      <p><%= discussion.body %></p>
      
      <div class="discussion_info meta_info">
        <span class="author">by <%= link_to discussion.user, discussion.user %></span>
        <span class="date_posted">&nbsp;|&nbsp;<%= discussion.created_at.to_s(:month_day) %></span>
        <span class="responses">&nbsp;|&nbsp;<%= link_to pluralize(discussion.responses.count, "Response"), discussion %></span>
      </div>
    </div>
    <% end %>

  </div>
</div>
<div id="secondary">
  <div class="first">
    <%= link_to "+ Add a Discussion Topic", new_discussion_url, :class => 'action' %>
  </div>
</div>