<% @current_tab = :Discussions %>
<div id="primary">
    <% if @theme %>
    <h2><%= @theme.name %></h2>
    <h3><%= @theme.description %></h3>
    <% end %>
    <div class="discussions">
        <% for discussion in @discussions %>
        <div class="discussion">
            <span class="avatar"><%= avatar_for(discussion.user, :small) %>
            </span>
            <h2 class="grouped"><%= link_to(h(discussion),discussion) %></h2>
            <p>
            <%=h truncate(discussion.body, 500) %>&nbsp;<%= link_to('Continue reading &hellip;',discussion) %></a>
        </p>
        <div class="discussion_info meta_info">
            <span class="author">by <%= link_to((discussion.user.expert? ? "<img src=\"/images/star_small.png\" />&nbsp;" : "") + h(discussion.user),discussion.user) %></span>
            <span class="date_posted">&nbsp;|&nbsp;<%= discussion.created_at.to_s(:month_day) %></span>
            <span class="responses">&nbsp;|&nbsp;<%= link_to(pluralize(discussion.responses.count, "Response"),discussion) %></span>
        </div>
    </div>
    <% end %>
</div>
</div>
<div id="secondary">
    <ul class="actions first">
        <% if current_user_can_post? %>
        <li class="action add">
            <span><%= link_to "Add a Discussion Topic", new_discussion_url %></span>
        </li>
        <% end %>
        <% if logged_in_as_owner? %>
        <li class="action edit">
            <span><%= link_to "Edit Themes", themes_url %></span>
        </li>
        <% end %>
    </ul>
    <% if !current_community.themes.empty? %>
    <ul class="themes">
        <h2>Themes</h2>
        <% current_community.themes.each do |theme| %>
        <% if theme.discussions.count > 0 %>
        <% content_tag(:li, :class => current_class_for_theme(theme)) do %>
        <%= link_to theme, discussions_url(:theme => theme) %>
        <% end %>
        <% end %>
        <% end %>
        <% if current_community.discussions.for_theme('nil').count > 0 %>
        <% content_tag(:li, :class => current_class_uncategorized) do %>
        <%= link_to "General", discussions_url(:theme => 'nil') %>
        <% end %>
        <% end %>
        <% content_tag(:li, :class => current_class_all_tasks) do %>
        <%= link_to "All Discussions", discussions_url %>
        <% end %>
    </ul>
    <% end %>
</div>
