<% @current_tab = :discuss %>

<div id="primary">
  <h1 class="grouped"><%= @discussion %></h1>
  <div class="discussion_info meta_info">
    <span class="author">by <%= link_to @discussion.user, @discussion.user %></span>
    <span class="date_posted">&nbsp;|&nbsp;Posted on <%= @discussion.created_at.to_s(:super_short) %></span>
    <span class="responses">&nbsp;|&nbsp;<%= pluralize(@discussion.responses.count, "Response") %></span>
  </div>
  <div class="discussion_body">
    <%= textilize(@discussion.body) %>
  </div>
  
  <%= link_to "Edit this Discussion &rarr;", edit_discussion_url(@discussion), :class => 'action' %>



  




  <h2><%= pluralize(@discussion.responses.count, "Response") %> so far</h2>

  <% for response in @discussion.responses %>
    <%= link_to response.user, response.user %>
    <%= response.created_at.to_s(:short) %>
    <%= textilize(response.body) %>
  
  <% end %>

  <h4>Post a response</h4>
  <% if logged_in? %>
    <% form_for [@discussion, Response.new] do | f | %>
      <%= f.text_area :body, :rows => 6 %>
    
      <%= submit_tag "Post this response" %>
    <% end %>
  <% else %>
    <%= link_to "Login to respond", login_url %>
  <% end %>
</div>
