<% @current_tab = :Discussions %>

<div id="primary">
  <h1 class="grouped"><%=h @discussion %></h1>
  <div class="discussion_info meta_info">
    <span class="author">by <%= link_to h(@discussion.user), @discussion.user %></span>
    <span class="date_posted">&nbsp;|&nbsp;Posted on <%= @discussion.created_at.to_s(:month_day) %></span>
    <span class="responses">&nbsp;|&nbsp;<%= pluralize(@discussion.responses.count, "Response") %></span>
  </div>
  <div class="discussion_body">
    <%= textilize(@discussion.body) %>
  </div>
  
  <h2><%= pluralize(@discussion.responses.count, "Response") %> so far</h2>
  <ol class="comments">
    <% for response in @discussion.responses %>
    <li>      
      <span class="comment_info meta_info">
        <%= link_to h(response.user), response.user %>&nbsp;|&nbsp;<%= response.created_at.to_s(:day_month_year) %>
      </span>
      <div class="comment_body">
        <%= textilize(response.body) %>
      </div>
    </li>
    <% end %>
  </ol>

  <h3>Post a response</h3>
  <% if logged_in? %>
    <% form_for [@discussion, Response.new] do | f | %>
      <%= f.text_area :body, :rows => 6 %>
    
      <%= submit_tag "Post this response" %>
    <% end %>
  <% else %>
    <%= link_to "Login to respond", login_url %>
  <% end %>
</div>
<div id="secondary">
  <ul class="actions first">
    <li>
      <%= link_to "Edit this Discussion &rarr;", edit_discussion_url(@discussion), :class => 'action' %>
    </li>
  </ul>
</div>