<% @current_tab = :Discussions %>
<div id="main_content">
	<div class="content_bar" id="top">
		<div class="breadcrumbs">
			<p>Jump to:</p>
			<ul>
				<li class="first"><%= link_to "Discussions", discussions_path %></li>
				<li><%= h(snippet(@discussion.to_s)) %></li>
			</ul>
		</div>

		<%= create_discussion_link %>
	</div>

	<div class="item_image module image">
		<div class="image_wrap"><%= link_to(avatar_for(@discussion.user, :small), @discussion.user) %></div>
	</div>
	<div class="item_content">
		<div class="title">
			<h2><%= h @discussion %></h2>
			<ul class="meta_info clear">
				<li class="author first">
					<%= link_to(h(@discussion.user), @discussion.user) %>

					<% if @discussion.user.expert? %>
						<span class="marker expert replace" /><span>Expert</span></span>
					<% end %>

				</li>
				<li class="date"><%= @discussion.created_at.to_s(:month_day) %></li>
				<li class="theme">
					<% if !current_community.themes.empty? %>
						<%= link_to (@discussion.theme ? @discussion.theme.to_s : "General"), (@discussion.theme ? theme_discussions_url(@discussion.theme) : discussions_url) %>
					<% end %>
				</li>
				<li class="comments"><%= pluralize(@discussion.responses.count, "Response") %></li>
			</ul>
		</div>
		<div class="module actions">
			<div class="content">
				<h4>Discussion Actions</h4>
				<ul class="action_nav">

					<% if current_user == @discussion.user || logged_in_as_owner? %>
						<li class="edit"><%= link_to("Edit <span class='action_target'>Discussion</span>", edit_discussion_url(@discussion)) %></li>
					<% end %>

					<% if logged_in_as_owner? %>
						<li class="delete"><%= link_to("Delete <span class='action_target'>Discussion</span>", @discussion, :method => :delete, :confirm => "Are you sure you'd like to delete this discussion?  All of the responses to this discussion will also be deleted.") %></li>
					<% end %>

					<% if @email_subscription %>
						<li class="edit"><%= link_to "Unsubscribe <span class='action_target'>from Email Updates</span>", @email_subscription, :method => :delete , :confirm => "Are you sure you want to unsubscribe from email updates to this discussion?" %></li>
					<% elsif current_user %>
						<li class="add"><%= link_to "Send Me <span class='action_target'>Email Updates</span>", discussion_email_subscriptions_url(@discussion), :method => :post, :action => :create  %></li>
					<% end %>
				</ul>
			</div>
		</div>
		<%= render_body(@discussion) %>
	</div>

	<% unless @discussion.responses.blank? %>
		<h2 class="eclear"><%= pluralize(@discussion.responses.count, "Response") %></h2>
		<ol id="responses" class="comments_list comment clearsub">

			<% for response in @responses %>
				<li>
					<div class="item_image module image">
						<div class="image_wrap"><%= link_to(avatar_for(response.user, :small), response.user) %></div>
					</div>
					<div class="item_content">
						<div class="module">
							<div class="content">
								<ul class="comment_meta clear">
									<li class="author">
										<%= link_to(h(response.user), response.user) %>

										<% if response.user.expert? %>
											<span class="marker expert replace" /><span>Expert</span></span>
										<% end %>

										says:
									</li>
									<li class="time"><%= "#{time_ago_in_words response.created_at} ago" %></li>
									<li class="delete"><%= link_to "Delete", response, :controller => :responses, :method => :delete, :confirm => "Are you sure you'd like to delete this response?" if logged_in_as_owner? %></li>
								</ul>
								<div class="comment_body">
									<%= render_body(response) %>
								  <div class="edit"><%= link_to "Edit", edit_response_path(response), :title => "Editable for 15 minutes" if logged_in? and response.editable_by?(current_user) %></div>
								</div>
							</div>
						</div>
					</div>
				</li>
			<% end %>
		</ol>
	<% end %>

	<% if @responses.total_pages > 1 %>
		<div class="apple_pagination">
			<%= will_paginate @responses %>
		</div>
	<% end %>

	<h2 class="eclear">Post a response</h2>
	<div class="comment post clear">
		<div class="item_image module image">
			<img src="/images/content/profile3.jpg" alt="Profile Image" />
		</div>
		<div class="item_content">
			<div class="module">
				<div class="content">
					<ul class="comment_meta clear">
						<li class="time">less than a minute ago</li>
					</ul>
					<% if logged_in? %>

						<% form_for [@discussion, Response.new] do |f| %>
							<fieldset class="input">
								<%= f.label :body, "Enter your response:" %>
								<%= f.text_area :body, :rows => 12, :class => "mceEditor" %>
							</fieldset>
							<fieldset class="submit">
								<%= submit_tag "Post this response" %>
							</fieldset>
						<% end %>

					<% else %>
						<p><%= link_to "Login to respond", login_url %></p>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
<%= render :partial => 'theme_sidebar' %>