<% @current_tab = :discuss %>

<div id="primary">
  <h1><%= @discussion %></h1>

  by <%= link_to @discussion.user, @discussion.user %>

  Posted <%= @discussion.created_at.to_s(:super_short) %> 

  <%= pluralize(@discussion.responses.count, "Response") %>

  <%= textilize(@discussion.body) %>



  <strong><%= pluralize(@discussion.responses.count, "Response") %> so far</strong>

  <% for response in @discussion.responses %>
    <%= link_to response.user, response.user %>
    <%= response.created_at.to_s(:short) %>
    <%= textilize(response.body) %>
  
  <% end %>

  <h4>Post a response</h4>
  <% if logged_in? %>
    <% form_for [@discussion, Response.new] do | f | %>
      <%= f.text_area :body, :rows => 6 %>
    
      <%= submit_tag "Post this response" %>
    <% end %>
  <% else %>
    <%= link_to "Login to respond", login_url %>
  <% end %>



  <%= link_to "Edit this discussion", edit_discussion_url(@discussion) %>
</div>
