<h3>Library:&nbsp;<%= pluralize(@articles.size, 'result' ) %>&nbsp;found</h3>
<ul class="content">
	<% @articles.each do |content| -%>
		<li>
			<dl>
				<dt><span class="result_type">Article:</span> <%= link_to content.title, content.article %></dt>
				<dd class="description"><%= content.teaser %></dd>
				<% if logged_in? && !current_user.has_access_to(content) %>
					Article content is restricted to&nbsp;<%= link_to "premium members", upgrade_url %>.
				<% elsif content.article.is_registered? && !logged_in? %>
					You must&nbsp;<%= link_to "log in", login_url %>&nbsp;to view the article contents.
				<% else %>
					<dd class="description"><%= content.body %></dd>
				<% end %>
			</dl>
		</li>
	<% end %>
</ul>