<% lessons.each do |content| -%>
<li>
    Lesson: <%= link_to content.title, [content.lesson.chapter.course, content.lesson.chapter, content.lesson] %>
    <em>in course:</em>
    <%= link_to content.lesson.chapter.course.title, :controller=>:courses, :action=>:show, :id=>content.lesson.chapter.course.id %>
    <br/>
    Lesson Teaser: <%= content.teaser %>
    <br/>
    <% if content.lesson.is_premium? && !logged_in_as_active? %>
    Lesson content is restricted to&nbsp;<%= link_to "premium members", upgrade_url %>.
	<% elsif content.lesson.is_registered? && !logged_in? %>
    You must&nbsp;<%= link_to "log in", login_url %>&nbsp;to view the lesson contents.
	<% else %>
    Lesson Body: <%= content.body %>
    <% end %>
    <br/>
</li>
<% end %>