<h3>User Profiles:&nbsp;<%= pluralize(@users.size, 'result') %>&nbsp;found</h3>
<ul class="content">
	<% if logged_in? %>
		<% @users.each do |user| %>
			<li>
				<dl class="profile_result clear">
					<dt>Name:</dt>
					<dd><%= link_to sanitize(user), user %></dd>
					<dt>About:</dt>
					<dd><%= sanitize user.about -%></dd>
					<dt>Interests:</dt>
					<dd><%= sanitize user.interests -%></dd>
					<dt>Location:</dt>
					<dd><%= sanitize user.location -%></dd>
					<dt>Zip Code:</dt>
					<dd><%= sanitize user.zipcode -%></dd>
				</dl>
			</li>
		<% end # @user.each -%>
	<% else %>
		<li>
		You must&nbsp;<%= link_to "log in", login_url %>&nbsp;to view the contents of user profiles.
		</li>
	<% end %>
</ul>
