<% @current_tab = :Search %>
<div id="main_content">
	<div class="title bar clear">
		<h2>Search</h2>
		<div class="search again module clear">
			<% form_tag :controller=>'search', :action=>'index' do %>
				<label for="search_again">Search again:</label>
				<%= text_field( :search_string, {}, :class=>"inp_text", :value=>"Search...", :id => "search_again") %>
				<%= image_submit_tag("#{themed_file('images/template/search_btn.gif')}", :class => "btn_image") %>
			<% end %>
		</div>
	</div>
	<h2>Search Results</h2>
	<div class="results_nav module clear">
		<h3>Results from:</h3>
		<ul>
			<li><a href="#course_results">Courses</a></li>
			<li><a href="#library_results">Library</a></li>
			<li><a href="#discussion_results">Discussions</a></li>
			<li class="last"><a href="#people_results">People</a></li>
		</ul>
	</div>
	<ul class="search_results">
		<li id="course_results" class="module"><%= render :partial=>"course_search_results" %></li>
		<li id="library_results" class="module"><%= render :partial=>"article_search_results" %></li>
		<li id="discussion_results" class="module"><%= render :partial=>"discussion_search_results" %></li>
		<li id="people_results" class="module"><%= render :partial=>"user_search_results" %></li>
	</div>
</div>