<% @current_tab = :Home %>
<% content_for :head do %>
	<%= stylesheet_link_tag('home') %>
	<%= javascript_include_tag('home') %>
<% end %>
<div id="main_content" class="marketing">
	<div class="banner">
		<div class="topper">
<h2 class="top_heading">Tired of...being tired?</h2>
            <p><em>Who isn't?</em></p>
            <p style="width:360px;">Wouldn't it be great to know you can always have the energy you need. . . <span style="text-decoration:underline">when</span> you need it?<br /><br />This FREE PerformanceLifestyle&reg; e-book shows you how you can! 
<span style="text-decoration:underline">Get it now &mdash; no strings attached!</span></p>		
		</div>
		<div class="tif_img">
			<img src="themes/performancelifestyle.com/images/content/home_screenshot.png" alt="Screenshot" />
        </div>
	</div>
    
  
	<div class="page_content">
	<p>These days, we're pulled in so many different directions that it's easier than ever to run out of energy. With unprecedented access to more information and opportunity than at any other time in history, and with the ability to achieve our goals seemingly faster than ever before, we, the achievers face a dilemma: the busier we get the less time we have to take care of ourselves, especially, recuperate our energy There's just never enough energy to go around – and that lack of energy negatively affects every aspect of our lives. </p>
    <p>Wouldn't it be great to unleash the lifestyle that will give you the energy you need to perform, look and feel better? Our free e-book "Manage Your Energy" will introduce you to a holistic, whole life approach to do just that. It's a mindset. </p>
    <p>There's nothing to lose &mdash; get your free e-book now &mdash; and learn how you can be one of the healthy high achievers who have learned how to manage their energy for breakthrough performance and greater quality of life. </p>
	<p>Here's a sample of what you'll learn in the free Manage Your Energy e-book...</p>
        <ul class="feature_list">
          <li>Ways to avoid the <em>stimulant delusion</em> and still <strong>increase your energy.</strong></li>
          <li>How you can maintain your health and <strong>achieve your goals</strong> without "hitting the wall" repeatedly or "falling off the wagon."</li>
          <li>Why your "Achiever Type" affects<strong> your energy levels.</strong></li>
          <li>What your grandparents knew about <em>managing energy</em> that you don't - and why it's still the key to <strong>sustaining success.</strong> </li>
          <li>Methods to <strong>keep you in <em>control</strong> of your energy reserves</em> so that you have enough energy to achieve success.</li>
         </ul>
        <p>This is just a small preview of what you'll find in this free PerformanceLifestyle&reg; e-book.
 <a href="/signup"> Get your free copy, right now! </a></p>
 <p>Once you do, you'll also receive access to the online community where you can learn even more about managing your energy with expert help, to achieve your goals and live a balanced, healthy, prosperous life! </p>	
	</div>
</div>

<div id="sidebar">
	<ul class="modules">
		<li class="cta register">
			<div class="content">
				<h4 class="get_free replace">Get Free Access</h4>
				<% form_for :user, @user, :url => signup_url, :html => {:class => 'edit'} do | f | -%>
					<%= f.error_messages %>
					<fieldset class="input">
						<div class="inp group">
							<%= f.label :"First Name" %>
							<%= f.text_field :first_name, :class => 'inp_text', :size => 20 %>
						</div>

						<div class="inp group">
							<%= f.label :"Last Name" %>
							<%= f.text_field :last_name, :class => 'inp_text', :size => 20 %>
						</div>

						<div class="inp group">
							<%= f.label :"Email Address" %>
							<%= f.text_field :email, :class => 'inp_text', :size => 20 %>
						</div>

						<p class="disclaimer">We respect your privacy and will not share your information with any third party, ever.</p>
					</fieldset>
					<fieldset class="submit">
						<%= submit_tag "Sign Up", :class => "make_button", :id => "signup" %>
					</fieldset>
				<% end -%>
		</li>
	</ul>
</div>