<script>
/*
 * This gets copied for each iteration of form_for... not a good practice
 * however, neccessary because we use f.file_field in the ruby of addAttachment
 * if we could find a way to pass that information in we could not copy
 * pass it in as a string?  since we use it as a string anyway...
 */
removeCategory = function(removeButton) {
	$(removeButton).up().remove();
}

addCategory = function() {
    //need to change so that there is no bottom margin for GUI goodness
	var host = $('categories');
    var editor = document.createElement('span');
	editor.innerHTML =
		'<select name="article[article_categories][]">' +
		<% current_community.categories.each do |category| %>
			'<option value="<%=category.id%>"><%= category %></option>' +
		<% end %>
		'</select>' +
    	'<input type="button" value="Remove" onclick="removeCategory(this)" style="margin-bottom: 0px" /><br/>';
	host.appendChild(editor);
}

addNewCategory = function() {
    //need to change so that there is no bottom margin for GUI goodness
	var host = $('new_categories');
    var editor = document.createElement('span');
	editor.innerHTML =
		'<%= text_field_tag "article[article_new_categories][]" %>' +
    	'<input type="button" value="Remove" onclick="removeCategory(this)" /><br/>';
	host.appendChild(editor);
}
//*/
</script>
<% form_for @article, :html => { :multipart => true, :class => "edit" } do | a | %>
<%= render :partial => '/contents/edit_content', :locals => { :content => @article.content } %>

<div class="edit_categories">
	<h3 class="separator">Categories</h3>
	<% @article.categories.each do |selected_category| %>
		<select name="article[article_categories][]">
			<% current_community.categories.each do |category| %>
			<option value="<%=category.id%>" <%= 'selected' if category == selected_category %>><%= category %></option>
			<% end %>
		</select>
		<input type="button" value="Remove" onclick="removeCategory(this)" />
	<% end %>

	<div id="categories" class="category_fields"></div>
	<button onclick="addCategory(); return false;">Add Existing Category</button>

	<div id="new_categories" class="category_fields"></div>
	<button onclick="addNewCategory(); return false;">Add New Category</button>
</div>

<fieldset class="submit">
	<ul class="submit_opts">
		<% if mode == :new %>
		<li><div class="button clear"><a href='javascript:document.getElementById("new_article").submit()'><span class="icon create">Create Article</span></a></div></li>
		<% else %>
		<li><div class="button clear"><a href='javascript:document.getElementById("edit_article_<%= @article.id %>").submit()'><span class="icon save">Save Changes</span></a></div></li>
		<% end %>
		<li class="text">or <%= link_to "Cancel", @article %></li>
	</ul>
</fieldset>
<% end %>