<script>
/*
 * This gets copied for each iteration of form_for... not a good practice
 * however, neccessary because we use f.file_field in the ruby of addAttachment
 * if we could find a way to pass that information in we could not copy
 * pass it in as a string?  since we use it as a string anyway...
 */
removeCategory = function(removeButton) {
	$(removeButton).up().remove();
}

//addCategory = function() {
//    //need to change so that there is no bottom margin for GUI goodness
//	var host = $('categories');
//    var editor = document.createElement('span');
//	editor.innerHTML =
//		'<select name="article[article_categories][]">' +
//		<% current_community.categories.each do |category| %>
//			'<option value="<%=category.id%>"><%= category %></option>' +
//		<% end %>
//		'</select>' +
//    	'<input type="button" value="Remove" onclick="removeCategory(this)" style="margin-bottom: 0px" /><br/>';
//	host.appendChild(editor);
//}
//
//addNewCategory = function() {
//    //need to change so that there is no bottom margin for GUI goodness
//	var host = $('new_categories');
//    var editor = document.createElement('span');
//	editor.innerHTML =
//		'<%= text_field_tag "article[article_new_categories][]" %>' +
//    	'<input type="button" value="Remove" onclick="removeCategory(this)" /><br/>';
//	host.appendChild(editor);
//}
//
*/
</script>
<% form_for @article, :html => { :multipart => true, :class => "edit" } do | a | %>
<%= render :partial => '/contents/edit_content', :locals => { :content => @article.content } %>

<div class="edit_categories">
	<h3 class="separator">Categories</h3>
	<ul class="categories_add repeatable clearsub">
		<li id="hidden_category_select" style="display: none">
			<select name="article[article_categories][]">
				<option value="">Select Category</option>
				<% current_community.categories.each do |category| %>
					<option value="<%=category.id%>"><%= category %></option>
				<% end %>
			</select>
		</li>
		<% @article.categories.each do |selected_category| %>
			<li>
				<select name="article[article_categories][]">
					<% current_community.categories.each do |category| %>
						</opt-group><option value="<%=category.id%>" <%= 'selected' if category == selected_category %>><%= category %></option>
					<% end %>
				</select>
			</li>
		<% end %>
	</ul>
	<div id="new_category"><%= text_field_tag "article[article_new_categories][]", nil, :class => "inp_text" %></div>
</div>

<fieldset class="submit">
	<ul class="submit_opts">
		<% if mode == :new %>
		<li><%= submit_tag "Create Article", :class => "make_button", :id => "create" %></li>
		<% else %>
		<li><%= submit_tag "Save Changes", :class => "make_button", :id => "save" %></li>
		<% end %>
		<li class="text">or <%= link_to "Cancel", @article %></li>
	</ul>
</fieldset>
<% end %>