<% @current_tab = :Article %>
<div id="main_content">
	<div class="content_bar" id="top">
		<div class="breadcrumbs">
			<p>Jump to:</p>
			<ul>
				<li class="first"><%= link_to "Library", articles_path %></li>
				<% if @category %>
				<li><%= h(snippet(@category.to_s)) %></li>
				<% end  %>
			</ul>
		</div>
		<% if logged_in? && current_user.owner? %>
		<div class="action">
			<span class="button_left">&nbsp;</span><a href="<%= new_article_url %>" class="button"><span class="icon create">+</span><span class="text">Create an Article</span></a>
		</div>
	    <% end %>
	</div>
	<% if @category %>
	<h2><%= @category.name %></h2>
	<% else %>
	<div class="page_title">
		<h2><%= "#{current_community} #{@current_tab}" %></h2>
		<p>Post additional resources that don't fit into a course. The library can contain articles, audios, videos, pictures, and attach downloadable files. Resources are organized by categories.</p>
	</div>
	<% end %>
	<ul class="article_list library">
		<% @articles.each do |article| %>
			<% if article.visible_to(current_user) %>
			<li>
				<div class="title">
					<h2>
						<%= link_to(h(article),article) %> 
						<% if (embedded_media = article.content.attachments.find_by_embedded(true)) %>
							<span class="media <%= embedded_media.type %>"><span>Image</span></span>
						<% end %>
					</h2>
					<ul class="meta_info clear">
						<li class="date first"><%= article.content.updated_at.to_s(:day_month_year) %></li>
						<% if article.categories.size > 0 %>
						<li class="theme">
							<% article.reload%>
							<% article.categories.each do |article_category| %>
							  <%= link_to article_category, library_url(:category => article_category) %><%= ", " if article_category != article.categories.last %>
							<% end %>
						</li>
						<% end %>
						<% unless article.content.author.blank? %>
							<li class="author"><%= article.content.author %></li>
						<% end %>
						<li class="meta_tags">
							<ul>
								<%= content_notes(article.content) %>
							</ul>
						</li>
					</ul>
				</div>
				<div class="content">
					<p>
						<%= teaser_format(article.content.teaser) %> 
						<a class="more" href="<%= url_for(article) %>">Keep Reading</a><span class="arrow">&nbsp;</span>
					</p>
				</div>
			</li>
			<% end %>
		<% end %>
	</ul>
</div>
<div id="sidebar">
	<ul class="modules">
		<li class="navigation themes">
			<h3>
				<span>Categories</span> 
				<% if logged_in_as_owner? %>
					<a href="<%= url_for(categories_url) %>" class="button edit"><span>Edit</span></a>
				<% end %>
			</h3>
			<ul class="content">
				<% if !current_community.categories.empty? %>
					<% current_community.categories.each do |category| %>
						<% if category.contains_articles_visible_to(current_user) %>
							<% content_tag(:li, :class => current_class_for_category(category)) do %>
								<%= link_to category, library_url(:category => category) %>
							<% end %>
						<% end %>
					<% end %>
				<% end %>
				<% if current_community.articles.for_category('nil').count > 0 %>
					<% content_tag(:li, :class => current_class_general) do %>
						<%= link_to "General", library_url(:category => 'nil') %>
					<% end %>
				<% end %>
				<% content_tag(:li, :class => current_class_all_categories, :id => 'show_all') do %>
					<%= link_to "Full Library", library_url %>
				<% end %>
			</ul>
		</li>
	</ul>
</div>