<% @current_tab = :'Library' %>

<div id="primary">
  <% if @category %>
	<h2><%= @category.name %></h2>
  <% end %>
  <div class="discussions">
    
    <% @articles.each do |article| %>
		  	<% if article.visible_to(current_user) %>
	        <li>
	          <h2><%= access_controlled_link(article) %>
			  <% if (embedded_media = article.content.attachments.find_by_embedded(true)) %>
			  <% if embedded_media.content_type.include?("image") %>
			  <img src="/images/image.png"/>
			  <% elsif embedded_media.content_type.include?("audio") %>
			  <img src="/images/audio.png"/>
			  <% elsif embedded_media.content_type.include?("video") %>
			  <img src="/images/video.png"/>
			  <% end %><% end %></h2>
	          <span class="meta_info">
    	        <% unless article.content.author.blank? %>by <strong><%= article.content.author %></strong> | <% end %><%= article.content.updated_at.to_s(:day_month_year) %>
        	  </span>
			  <span style="color:red"><%= article.notes %></span><br/> 
	          <p><%= teaser_format(article.content.teaser) %></p><br/>
			  <% attachments_string = article.content.display_attachments %>
			  <% unless attachments_string.blank? %>Attachments:&nbsp;<%= attachments_string %><% end %>
	        </li>
			<% end %>
    <% end %>

  </div>
</div>
<div id="secondary">
  <ul class="actions first">
    <% if logged_in? && current_user.owner? %>
      <li class="action add">
        <span><%= link_to "Add an Article", new_article_url, :category => @category %></span>
      </li>	
      <li class="action edit">
        <span><%= link_to "Edit Categories", categories_url %></span>
      </li>
    <% end %>
  </ul>
  
  <% if !current_community.categories.empty? %>
    <ul class="themes">
      <h2>Categories</h2>
      <% current_community.categories.each do |category| %>
	  	<% if category.contains_articles_visible_to(current_user) %>
        <li>
          <%= link_to category, library_url(:category => category) %>
        </li>
		<% end %>
      <% end %>
      <% if current_community.articles.for_category('nil').count > 0 %>
		<li>
          <%= link_to "General", library_url(:category => 'nil') %>
        </li>
      <% end %>
	  <li>
      	<%= link_to "Full Library", library_url %>
      </li>
    </ul>
  <% end %>
  
</div>