<% @current_tab = :Article %>
<script src="/javascripts/swfobject.js"></script>
<div id="main_content">
	<div class="content_bar" id="top">
		<div class="breadcrumbs">
			<p>Jump to:</p>
			<ul>
				<li class="first"><%= link_to "Library", library_url(:category => @category) %></li>
				<li><%= h(@article) %></li>
			</ul>
		</div>
		<% if logged_in? && current_user.owner? %>
		<div class="action">
			<span class="button_left">&nbsp;</span><a href="<%= new_article_url %>" class="button"><span class="icon create">+</span><span class="text">Create an Article</span></a>
		</div>
	    <% end %>
	</div>

	<%= render :partial => '/contents/show_content', :locals => { :content => @article.content } %>
	<%= render :partial => '/contents/show_attachments', :locals => { :content => @article.content } %>
</div>
<div id="sidebar">
	<ul class="modules">
		<% if !current_community.categories.empty? %>
		<li class="navigation themes">
			<h3><span>Categories</span> <a href="<%= url_for(categories_url) %>" class="button edit"><span>Edit</span></a></h3>
			<ul class="content">
				<% current_community.categories.each do |category| %>
					<% if category.contains_articles_visible_to(current_user) %>
						<li><%= link_to category, library_url(:category => category) %></li>
					<% end %>
				<% end %>
				<% if current_community.articles.for_category('nil').count > 0 %>
					<li><%= link_to "General", library_url(:category => 'nil') %></li>
				<% end %>
				<li id="show_all"><%= link_to "Full Library", library_url %></li>
			</ul>
		</li>
		<% end %>
	</ul>
</div>