
<div id="primary">

  <h1>Themes</h1>

  <ul>
    <% for theme in current_community.themes %>
      <li>
        <%=h theme %>
        <%= link_to "Delete", theme, :method => :delete, :confirm => "Are you sure you'd like to delete this theme?  It's posts will no longer be categorized.", :class => "delete" %>
        <%= link_to "Edit", edit_theme_url(theme), :class => "edit" %>
      </li>
    <% end %>
  </ul>

  <%= render :partial => 'themes/theme_form', :locals=>{:submit_text=>'Create'} %>

</div>

<%= set_focus_to :theme_name %>
