
<div id="primary">

  <p>    <%= link_to "&#8592; Return to Discussions", discussions_url, :class => 'discussions' %></p>
  <h1>Themes</h1>

  <ul>
    <% for theme in current_community.themes %>
      <li>
        <%=h theme %>
        <%= link_to "Delete", theme, :method => :delete, :confirm => "Are you sure you'd like to delete this theme?  Its posts will no longer be categorized.", :class => "delete" %>
        <%= link_to "Edit", edit_theme_url(theme), :class => "edit" %>
      </li>
    <% end %>
  </ul>
<p></p>
<h2>New Theme</h2>
  <%= render :partial => 'form', :locals=>{:submit_text=>'Create'} %>

</div>

<%= set_focus_to :theme_name %>
