<% @current_tab = :'Community Setup' %>
<div id="main_content">
	<div class="content_bar" id="top">
		<div class="breadcrumbs">
			<p>Jump to:</p>
			<ul>
				<li class="first no_tab"><%= link_to "Community Setup", edit_community_url %></li>
			</ul>
		</div>
	</div>

	<h2>Access Levels</h2>

	<ul class="sep_item_list categories">
		<% for access_class in @community.access_classes %>

		<li>
			<h3><%=h access_class.name %></h3>
			<ul class="item_actions">
				<li><%= link_to "Edit Subscription Plans", access_class_subscription_plans_url(access_class) %></li>
			</ul>
		</li>

		<% end %>
	</ul>

	<% form_tag :action => "create_access_level" do %>

	<fieldset class="input">

		<div class="inp group">
			<%= label_tag :name, "Name" %>
			<%= text_field_tag :name, '', :class => "inp_text" %>
		</div>

	</fieldset>

	<fieldset class="submit">
		<ul class="submit_opts">
			<li><%= submit_tag "Create Access Level", :class => "make_button", :id => "create" %></li>
		</ul>
	</fieldset>

	<% end -%>

</div>
<div id="sidebar">
	<ul class="modules">
		<li class="navigation themes">
			<h3>Community Setup</h3>
			<%= render :partial => "menu", :locals => { :mode => :edit }  %>
		</li>
	</ul>
</div>