<% @current_tab = :'Community Setup' %>
<div id="main_content">
	<div class="content_bar" id="top">
		<div class="breadcrumbs">
			<p>Jump to:</p>
			<ul>
				<li class="first no_tab"><%= link_to "Community Setup", edit_community_url %></li>
			</ul>
		</div>
	</div>
	<h2>Edit Access Rights</h2>
	<% form_for @community, :url => access_rights_url do | f | %>
		<%= f.error_messages %>

		<fieldset class="input">
			<div class="inp group">
				<label>Discussion Accessibility Level</label>
				<%= f.select :discussion_accessibility, [["Public",0],["Premium",1]] %>
			</div>
		</fieldset>

		<fieldset class="submit">
			<ul class="submit_opts">
				<li><%= submit_tag "Save Changes", :class => "make_button", :id => "save" %></li>
				<li class="text">or <%= link_to "Cancel", community_home_url %></li>
			</ul>
		</fieldset>

	<% end %>
</div>
<div id="sidebar">
	<ul class="modules">
		<li class="navigation themes">
			<h3>Community Setup</h3>
			<%= render :partial => "menu", :locals => { :mode => :edit }  %>
		</li>
	</ul>
</div>