<% @current_tab = :'Community Setup' %>
<div id="primary">
    <% form_for @community, :url => access_rights_url do | f | %>
    <%= f.error_messages %>
    <h3>Discussion Accessibility Level</h3>
    <p>
    <p>
		<%= f.select :discussion_accessibility, [["Public",0],["Premium",1]] %>
		</p>
        <%= submit_tag 'Save' %> or <%= link_to "Cancel", community_home_url %>
    </p>
    <% end %>
</div>
<div id="secondary">
    <%= render :partial => "menu", :locals => { :mode => :edit } %>
</div>
