<% @current_tab = :'Community Setup' %>

<div id="primary" class="<%= @current_tab.to_s.downcase %>">
	<div class="primary_title">
		<h2><%= @current_tab %></h2>
	</div>
	<div class="primary_content">
	  <% form_for @community, :url => edit_community_url do | f | %>

	    <%= f.error_messages %>
  
	    <p>
	      <%= f.label :name %>
	      <%= f.text_field :name, :class => "text single"  %>
	    </p>

	    <p>
	      <%= f.label :subdomain %>
	      <%= f.text_field :subdomain, :class => "text single"  %>
	    </p>

	    <p>
	      <%= f.label :spreedly_api_key %>
	      <%= f.text_field :spreedly_api_key, :class => "text single"  %>
	    </p>

	    <p class="plus_label">
	      <%= f.check_box :use_spreedly_production_site  %>
	      <%= f.label :use_spreedly_production_site, "Use Spreedly Production Site", :class => 'plus_label'  %>
	    </p>

	    <p>
	      <%= link_to "Change your payment settings", "https://spreedly.com/thoughtlead-test/subscriber_accounts/#{current_community.spreedly_token}" if current_community.spreedly_token %>
	    </p>
    
	    <br />
	    <p>
	  	  <%= submit_tag 'Save' %> or <%= link_to "Cancel", community_home_url %>
	    </p>
	  <% end %>
	</div>
</div>
<div id="secondary">
  <%= render :partial => "menu", :locals => { :mode => :edit }  %>
</div>