<% @current_tab = :'Community Setup' %>
<div id="main_content">
	<div class="content_bar" id="top">
		<div class="breadcrumbs">
			<p>Jump to:</p>
			<ul>
				<li class="first no_tab"><%= link_to "Community Setup", edit_community_url %></li>
			</ul>
		</div>
	</div>
	<h2>Edit Community</h2>
	<% form_for @community, :url => edit_community_url, :html => {:class => 'edit'} do | f | %>
		<%= f.error_messages %>

		<fieldset class="input">
			<div class="inp group">
				<%= f.label :name %>
				<%= f.text_field :name, :class => "inp_text"  %>
			</div>

			<div class="inp group">
				<%= f.label :host %>
				<%= f.text_field :host, :class => "inp_text"  %>
			</div>

			<div class="inp group">
				<%= f.label :gateway_login, "Payment Gateway Login" %>
				<%= f.text_field :gateway_login, :class => "inp_text"  %>
			</div>

			<div class="inp group">
				<%= f.label :gateway_password, "Payment Gateway Password" %>
				<%= f.text_field :gateway_password, :class => "inp_text"  %>
			</div>

			<div class="inp group">
				<%= f.label :premium_link, "Link to purchase premium access" %>
				<span class="hint">(Full URL including http://)</span>
				<%= f.text_field :premium_link, :class => "inp_text"  %>
			</div>

			<div class="inp group">
				<%= f.label :premium_text, "Text for link to purchase premium access" %>
				<span class="hint">(i.e. "Click to purchase premium access for just $19.95 per month")</span>
				<%= f.text_field :premium_text, :class => "inp_text"  %>
			</div>
			
			<div class="inp group">
				<%= f.label :ga_property_id, "Google Analytics Integration" %>
				<span class="hint">(if you have a web property ID for this domain, e.g. "UA-123456-78", enter it here to enable tracking)</span>
				<%= f.text_field :ga_property_id, :class => "inp_text"  %>
			</div>
			
			<div class="inp group">
				<%= f.label :affiliates, "Affiliate Tracking" %>
				<div class="inp_text"><%= f.check_box :affiliates_enabled %> Yes, enable affiliate tracking</div>
			</div>
		</fieldset>

		<fieldset class="submit">
			<ul class="submit_opts">
				<li><%= submit_tag "Save Changes", :class => "make_button", :id => "save" %></li>
				<li class="text">or <%= link_to "Cancel", community_home_url %></li>
			</ul>
		</fieldset>

	<% end %>
</div>
<div id="sidebar">
	<ul class="modules">
		<li class="navigation themes">
			<h3>Community Setup</h3>
			<%= render :partial => "menu", :locals => { :mode => :edit }  %>
		</li>
	</ul>
</div>
