<% @current_tab = :'Community Setup' %>

<div id="small">

  <% form_for @community, :url => edit_community_url do | f | %>
  
    <%= f.error_messages %>
  
    <p>
      <%= f.label :name %>
      <%= f.text_field :name, :class => "text single"  %>
    </p>

    <p>
      <%= f.label :subdomain %>
      <%= f.text_field :subdomain, :class => "text single"  %>
    </p>

    <p>
      <%= link_to "Change your payment settings", "https://spreedly.com/thoughtlead-test/subscriber_accounts/#{current_community.spreedly_token}" %>
    </p>
    
    <p>
  	  <%= submit_tag 'Save' %> or <%= link_to "Cancel", community_home_url %>
    </p>
  <% end %>
</div>