<% form_for @access_class, :html => {:class => "edit"} do |f| %>
		<%= f.error_messages %>
	<fieldset class="input">

		<div class="inp group">
			<%= f.label :name, "Name" %>
			<%= f.text_field :name, :class => "inp_text" %>
		</div>

    <p>Also grant members with this access level access to content tagged:</p>

		<ul class="checkbox group">
	  <%= hidden_field_tag "access_class[child_ids][]", "" %>
		<% current_community.access_classes.each do |access_class| %>
		  <% if access_class != @access_class %>
		    <li>
		      <%= check_box_tag "access_class[child_ids][]", access_class.id, @access_class.children.include?(access_class),:class => "child" %>
			    <%= label_tag "access_class[child_ids][]", access_class.name %>
		    </li>
		  <% end %>
		<% end %>
	</ul>

	</fieldset>

	<fieldset class="submit">
		<ul class="submit_opts">
			<% if mode == :new %>
			<li><%= submit_tag "Create Access Level", :class => "make_button", :id => "create" %></li>
			<% else %>
			<li><%= submit_tag "Save Changes", :class => "make_button", :id => "save" %></li>
			<li class="text">or <%= link_to "Cancel", themes_url %></li>
			<% end %>
		</ul>
	</fieldset>
	<% end -%>
