<% @current_tab = :'Login' %>
<div id="main_content">
	<div class="title bar">
		<h2>Log In</h2>
	</div>
	<div class="columns login">
		<div class="column one">
			<% form_tag session_path, :class => "login" do %>
				<fieldset class="input">

					<div class="inp group">
					    <%= label :user, :login %>
					    <%= text_field_tag 'login', params[:login], :class => 'inp_text', :tabindex => 1 %>
					</div>

					<div class="inp group">
						<%= link_to "Forgot Password?", forgot_password_url, :class => "forgot_password" %>
					    <%= label :user, :password %>
					    <%= password_field_tag 'password', params[:password], :class => 'inp_text', :tabindex => 2 %>
					</div>

					<div class="checkbox group">
				        <label class="checkbox">
							<%= check_box_tag 'remember_me', "1", params[:remember_me] %>
							Remember me on this computer
						</label>
					</div>

				</fieldset>
				<fieldset class="submit">
					<%= submit_tag 'Log in' %>
				</fieldset>
		    <% end -%>
		</div>
		<div class="column two">
			<div class="module actions signup">
				<div class="content">
					<h4>Sign-up</h4>
					<p>Don't have an account yet? Sign-up today to get access to subscriber content.</p>
					<div class="button clear"><%= link_to "<span class='icon signup'>Sign-up Today</span>", signup_url %></div>
				</div>
			</div>
		</div>
	</div>

</div>
