<% @current_tab = :Home %>
<% content_for :head do %>
	<%= stylesheet_link_tag('home') %>
	<%= javascript_include_tag('home') %>
<% end %>
<div id="main_content" class="login">
	<div class="content_bar" id="top">
		<div class="content">
			<h4>Welcome to <%= h(current_community) %></h4>
			<p>Take a moment to look around, and when you’re ready, come take a course, check out the new articles, respond to a discussion, or meet fellow site members.</p>
		</div>
	</div>
	<ul class="section_list">
		<li class="library">
			<h4><span>Browse Library</span></h4>
			<p>Explore our multimedia library to find the entrepreneurial resources you need. Browse the whole library or sort by topic. <%= link_to "Go to Library", articles_url, :class => "more" %><span class="arrow">&nbsp;</span></p>
		</li>
		<li class="courses">
			<h4><span>Take Courses</span></h4>
			<p>Learn from our expert contributors by taking a WeHabitat course. We'll teach you the skills and techniques you need to succeed with your business. <%= link_to "Go to Courses", courses_url, :class => "more" %><span class="arrow">&nbsp;</span></p>
		</li>
		<li class="discussions">
			<h4><span>Join Discussions</span></h4>
			<p>Take your understanding further, contribute your expertise, find answers to your questions, and engage with other inspired women in our discussion area. <%= link_to "Go to Discussions", discussions_url, :class => "more" %><span class="arrow">&nbsp;</span></p>
		</li>
		<li class="people">
			<h4><span>Meet People</span></h4>
			<p>Create a profile and get to know your friendly community members by browsing or searching for similar interests, locations, or needed skills. <%= link_to "Go to People", users_url, :class => "more" %><span class="arrow">&nbsp;</span></p>
		</li>
	</ul>
</div>
<div id="sidebar">
</div>