<% @current_tab = :Home %>
<% content_for :head do %>
	<%= stylesheet_link_tag('home') %>
	<%= javascript_include_tag('home') %>
<% end %>
<div id="main_content" class="login">
	<div class="content_bar" id="top">
		<div class="content">
			<h4>Welcome to <%= h(current_community) %></h4>
			<p>We're thrilled that you've decided to join us. We're looking forward to making Eating for Evolution the singularly most transformative and inspiring community available online! So take a look around, start a discussion thread, or drop us a line. 
      </p>
		</div>
	</div>
	<ul class="section_list">
		<li class="library">
			<h4><span>Browse Library</span></h4>
			<p>You'll find articles and interviews in the library about gluten-free cooking, and general food energetics. Videos coming soon! <%= link_to "Go to Library", articles_url, :class => "more" %><span class="arrow">&nbsp;</span></p>
		</li>
		<li class="courses">
			<h4><span>Take Courses</span></h4>
			<p>Study the art of gluten-free cuisine from cultures around the world, and maybe even right in your own neighborhood. Our courses have video demonstrations in many of the lessons, and printable recipes so you can prepare the same delights that Tiffany is showing you. <%= link_to "Go to Courses", courses_url, :class => "more" %><span class="arrow">&nbsp;</span></p>
		</li>
		<li class="discussions">
			<h4><span>Join Discussions</span></h4>
			<p>Speak with Tiffany and your fellow members in the discussion area. Trade favorite recipes and tips, ask questions about any of the resources, and share personal stories of growth and transformation. <%= link_to "Go to Discussions", discussions_url, :class => "more" %><span class="arrow">&nbsp;</span></p>
		</li>
		<li class="people">
			<h4><span>Meet People</span></h4>
			<p>Learn about, and connect with, your fellow community members. You can continue the discussion offsite, or connect with people in your neighborhood, using our secure contact forms in the People section. <%= link_to "Go to People", users_url, :class => "more" %><span class="arrow">&nbsp;</span></p>
		</li>
	</ul>
</div>
<div id="sidebar">
	<ul class="modules">
		<li class="cta register">
			<div class="content">
				<h4 class="get_premium replace"><a href="/upgrade">Get Premium Access</a></h4>
				<p>Not a premium member yet? As a premium member, you'll have access to the discussion areas and to content that gives you the depth and detail you're looking for.</p>
				<p><a class="more" href="/upgrade">Click here</a> to learn more about premium membership and see if it is right for you.<span class="arrow">&nbsp;</span></p>
			</div>
		</li>
	</ul>
</div>