<% @current_tab = :Home %>
<% content_for :head do %>
	<%= stylesheet_link_tag('home') %>
	<%= javascript_include_tag('home') %>
<% end %>
<div id="main_content" class="marketing">
	<div class="banner">
		<div class="banner_wrap">
		<div class="content">
			<h2 class="do_more replace">Do more with your ideas</h2>
			<p>Sell once and receive the dividends again and again. Grow a community that leaves a legacy. Teach others your work in an accessible, attractive, and inspired environment. ThoughtLead lets you do all three. Click the button below to get started with your demo.</p>
			<p class="register replace"><%= link_to "Register for Free Access", signup_url %></p>
		</div>
		<div class="image">
			<img src="<%= themed_file('images/content/home_screenshot.png') %>" alt="Screenshot" />
		</div>
		</div>
	</div>
	<div class="page_content">
		<h2>When you join the Eating for Evolution community, you’ll receive:</h2>
		<ul class="feature_list clear">
			<li>
				<p><strong>Dozens of cooking videos, featuring Eating for Evolution’s founder, Tiffany Pollard.</strong> You’ll see exactly how easy it is to create the same delightful dishes that have made Tiffany a highly sought-after food and health consultant. </p>
			</li>
			<li>
				<p><strong>Access to a community of like-minded individuals.</strong> Speak with Tiffany and your fellow members in the discussion area. You’ll be able to trade favorite recipes and tips, ask questions about any of the resources, and share personal stories of growth and transformation.</p>
			</li>
			<li>
            <p><strong>Articles and interviews</strong> to stimulate your thinking, expand your perspective, and get you seeing food in a new light.</p>
            </li>
			<li><p><strong>The secrets of preparing completely fulfilling, gluten-free foods.</strong> You’ll learn everything you need to know to make sure that your quality of life will only <i>improve</i> by going gluten-free, such as: how to make your own gluten-free bread; what to avoid and what you can substitute when cooking gluten free; 23 different gluten free flours and binders to use in any recipe; how to create an endless assortment of healthy sweets and treats; and much more!</p>
			</li>
			<li>
				<p>Recipes for all occasions, from all around the world. <strong>Here are just some of the recipes waiting for you inside Eating for Evolution:</strong> </p>
                <p>...Pacific Northwest delights <strong>you can make anywhere: Basic Lentils, Roasted Balsamic Brussels Sprouts with Pumpkin Seeds, Salmon Croquettes, Basic Quinoa, Ginger Teriyaki Salmon, Wild Baby Greens Salad with Raspberry Vinaigrette, Candied Walnuts...</strong></p>
               <p><strong>...Southwest delicacies</strong> like: Blue Corn Enchiladas, Red Enchilada Sauce, Pumpkin Seed Mole with Sliced Pear and Jicama, Southwestern Salad, Navajo Frito Pie...</p>
               <p><strong>...Asian meals, sauces, and deserts</strong> such as: Tif’s Simple Fried Rice, Garden Fresh Spring Rolls, Almond Butter Sauce, Sweet Chili Sauce, Coconut Lime Noodle Soup, Sticky Rice Pudding with Coconut Cream and Mango, plus a special section on how to use the wok...</p>
				<p><strong>...And of course, dessert</strong>: Goji Nut Muffins, Cashew Coconut & Chocolate Truffle Power Balls, Soft & Chewy Chocolate Chip Cookies, Tif’s No-bake, Oh-so-healthy Breakfast Cookies...</p></li>
			<li><strong>And Much More!</strong>
			</li>
			
		</ul>
	</div>
</div>
<div id="sidebar">
	<ul class="modules">
		<li class="cta register">
			<div class="content">
				<h4 class="get_free replace">Get Free Access</h4>
				<p>Interested in joining the ThoughtLead community? You can get free access by signing up today. <%= link_to "Join Today", signup_url, :class => 'more' %><span class="arrow">&nbsp;</span></p>
			</div>
		</li>
	</ul>
</div>