<% @current_tab = :People %>
<div id="main_content">
	<div class="content_bar" id="top">
		<div class="breadcrumbs">
			<p>Jump to:</p>
			<ul>
				<li class="first"><%= link_to "People", users_path %></li>
				<li><%= link_to "Your Profile", current_user %></li>
			</ul>
		</div>
	</div>
	<h2><%= @page_title = "Change your password" %></h2>

	<% form_for @user, :url => edit_password_user_url do | f | %>
		<%= f.error_messages %>
		<fieldset class="input thin">

			<div class="inp group">
				<%= f.label :password, "New password"%>
				<%= f.password_field :password, :class => "inp_text"  %>
			</div>

			<div class="inp group">
				<%= f.label :password_confirmation, "Confirm password" %>
				<%= f.password_field :password_confirmation, :class => "inp_text" %>
			</div>

		</fieldset>
		<fieldset class="submit">
			<ul class="submit_opts">
				<li><%= submit_tag "Change" %></li>
				<li class="text">or <%= link_to "Cancel", edit_user_url(@user) %></li>
			</ul>
		</fieldset>
	<% end %>
</div>