
<div id="primary">
  <h1><%= @page_title = "Change your password"  %></h1>
  
  <% form_for @user, :url => edit_password_user_url do | f | %>
    <%= f.error_messages %>
  
    <p>
      <%= f.label :password, "New password"%>
      <%= f.password_field :password, :class => "text single"  %>
    </p>

    <p>
      <%= f.label :password_confirmation, "Confirm password" %>
      <%= f.password_field :password_confirmation, :class => "text single" %>
  	</p>
    
    <p class="submitBlock">
      <%= submit_tag "Change" %> or <%= link_to "Cancel", edit_user_url(@user) %>
    </p>
  <% end %>

</div>