<% content_for :head, javascript_include_tag('edit') %>
<% @current_tab = :People %>
<div id="main_content">
	<div class="content_bar" id="top">
		<div class="breadcrumbs">
			<p>Jump to:</p>
			<ul>
				<li class="first"><%= link_to "People", users_path %></li>
				<li><%= link_to(current_user == @user ? "Your Profile" : @user.to_s, @user)  %></li>
			</ul>
		</div>
	</div>
	<h2><%= @page_title = "Edit Profile" %></h2>

	<% form_for(@user, :html => { :method => :put, :multipart => true, :class => 'edit' } ) do | f | -%>
		<%= error_messages_for(:user, :object => @user.avatar ? [@user.avatar, @user] : @user ) %>
		<fieldset class="input">
			<% if current_user == @user %>
			<div class="checkbox group">
			  <label>Would you like to receive an email when someone starts a new discussion in the community?</label>
        <%= f.radio_button :send_email_notifications, true %>
        <%= f.label :send_email_notifications, "Yes" %>
        <%= f.radio_button :send_email_notifications, false %>
        <%= f.label :send_email_notifications, "No" %>
			</div>
      <% end %>

			<% if logged_in_as_owner? %>
  			<div class="checkbox group">
  				<%= f.check_box :expert %>
  				<%= f.label :expert %>
  			</div>
        <% if current_user != @user -%>
    			<div class="checkbox group">
            <% current_community.access_classes.each do |access_class|%>
              <%= check_box_tag "user[access_class_ids][]", access_class.id, @user.access_class_ids.include?(access_class.id) %>
              <%= f.label :user_access_classes, access_class.name %>        
            <% end %>
          </div>
          <div class="checkbox group">
            <% if @user.access_classes.size == 1 %>
              <% user_class = @user.access_classes.first
                user_children = user_class.children  %>
              <p>Can access <strong><%= user_class.name %></strong> level
                <% unless user_children.empty? -%> 
                  and its children (<strong><%= user_children.map(&:name).join(", ") %></strong>)
                <% end -%></p>

            <% elsif @user.access_classes.size > 1 -%>
              <% user_classes = @user.access_classes %>
              <p>Can access only levels: <strong><%= user_classes.map(&:name).join(", ") %></strong>.</p>         
            <% end -%>
          </div>
        <% else -%>
          <div class="checkbox group">
            <p>You own this community. You can see everything.</p>
          </div>
        <% end -%>
			<% end %>
			
						<p style="text-align:right; width:100%"><strong style="background-color:rgb(242,242,242);padding:0.3em">Click here to <%= link_to "change your password", edit_password_user_url(@user) %></strong></p>

			<div class="inp group">
				<%= f.label :login %>
				<%= f.text_field :login, :class => 'inp_text' %>
			</div>

			<div class="inp group">
				<%= f.label :display_name %>
				<%= f.text_field :display_name, :class => 'inp_text' %>
			</div>

			<div class="inp group">
				<%= f.label :first_name %>
				<%= f.text_field :first_name, :class => 'inp_text' %>
			</div>

			<div class="inp group">
				<%= f.label :last_name %>
				<%= f.text_field :last_name, :class => 'inp_text' %>
			</div>

			<div class="inp group">
				<%= f.label :email %>
				<%= f.text_field :email, :class => 'inp_text' %>
			</div>

			<div class="inp group">
				<%= f.label :location %>
				<%= f.text_field :location, :class => 'inp_text' %>
			</div>

			<div class="inp group">
				<%= f.label :zipcode, "Zip Code" %>
				<%= f.text_field :zipcode, :class => 'inp_text' %>
			</div>

			<div class="columns">
				<div class="column one">
					<div class="inp group website">
						<%= f.label :website_1, "Website 1" %>
						<span class="hint">http://</span>
						<%= f.text_field :website_1, :class => 'inp_text' %>
					</div>
				</div>
				<div class="column two">
					<div class="inp group website">
						<%= f.label :website_2, "Website 2" %>
						<span class="hint">http://</span>
						<%= f.text_field :website_2, :class => 'inp_text' %>
					</div>
				</div>
			</div>

			<div class="inp group">
				<%= f.label :about %>
				<%= f.text_area :about, :rows => 4 %>
			</div>

			<div class="inp group">
				<%= f.label :interests %>
				<%= f.text_area :interests, :rows => 4 %>
			</div>



			<div class="update_avatar">
				<%= f.label :avatar %>

				<div class="module image avatar">
					<%= avatar_for(@user) %>
				</div>
				<%= f.file_field :user_avatar %>
				<p>Maximum file size is 10 megabytes</p>
			</div>
		</fieldset>
		<fieldset class="submit">
			<ul class="submit_opts">
				<li><%= submit_tag "Save Changes", :class => "make_button", :id => "save" %></li>
				<li class="text">or <%= link_to "Cancel", @user %></li>
			</ul>
		</fieldset>
	<% end -%>
</div>
