<% @current_tab = :'People' %>
<div id="main_content">
	<div class="content_bar" id="top">
		<div class="breadcrumbs">
			<p>Jump to:</p>
			<ul>
				<li class="first"><%= link_to "People", users_path %></li>
				<li><%= link_to(current_user == @user ? "Your Profile" : @user.to_s, @user)  %></li>
			</ul>
		</div>
	</div>
	<h2><%= @page_title = "Email #{@send_to_user}" %></h2>

	<% form_for @email, :url =>  email_user_url(@send_to_user) do | f | %>
		<%= f.error_messages %>
		<fieldset class="input">

			<div class="inp group">
				<%= f.label :subject %>
				<%= f.text_field :subject, :class => "inp_text"  %>
			</div>

			<div class="inp group">
				<%= f.label :body %>
				<%= f.text_area :body, :rows => 10 %>
			</div>
		</fieldset>

		<fieldset class="submit">
			<ul class="submit_opts">
				<li><%= submit_tag "Send email", :class => "make_button", :id => "email" %></li>
				<li class="text">or <%= link_to "Cancel", @send_to_user %></li>
			</ul>
		</fieldset>
	<% end %>
</div>
