<h1><%= @page_title = "Email #{@send_to_user}" %></h1>

<% form_for @email, :url =>  email_user_url(@send_to_user) do | f | %>
  <%= f.error_messages %>

  <p>
    <%= f.label :subject %>
    <%= f.text_field :subject %>
  </p>

  <p>
    <%= f.label :body, 'Email' %>
    <%= f.text_area :body, :rows => 10 %>
  </p>
	
	<p>
	  <%= submit_tag 'Send email' %> or <%= link_to "Cancel", @send_to_user %>
	</p>
<% end %>

