<% @current_tab = :'Login' %>
<div id="main_content">
	<div class="title bar">
		<h2>Log In</h2>
	</div>

	<h2><%= @page_title = "Forgot your password?" %></h2>
    <% form_for(:user, :url => forgot_password_url) do |f| %>
		<%= f.error_messages %>
		<fieldset class="input thin">

			<div class="inp group">
			    <%= label :user, "Login or Email Address" %>
			    <%= text_field_tag 'login', params[:login], :class => 'inp_text' %>
			</div>

		</fieldset>
		<fieldset class="submit">
			<%= submit_tag "Send Password" %>
		</fieldset>
	<% end %>
</div>
