<% @current_tab = :People %>
<% content_for :head, javascript_include_tag('people') %>
<div id="main_content">
	<div class="content_bar" id="top">
		<div class="breadcrumbs">
			<p>Jump to:</p>
			<ul>
				<li class="first"><%= link_to "People", users_path %></li>
			</ul>
		</div>
	</div>
	<div class="title">
		<h2>Member Directory</h2>
		<p class="subtitle">You can search by name, interest, and location using the search box above.</p>
	</div>

	<ul class="people_list people">
		<% for user in @users %>
		<% unless (user.disabled? && !logged_in_as_owner?) %>
		<li>
			<div class="item_image module image">
				<div class="image_wrap"><%= link_to(avatar_for(user, :medium),user) %></div>
				<% if user.owner? %><span class="marker admin replace">Administrator</span><% end %>
				<% if user.expert? %><span class="marker expert replace">Expert</span><% end %>
			</div>
			<dl class="profile_header">
				<dt><%= user %></dt>
				<dd><%= user.location %></dd>
			</dl>
		</li>
		<% end %>
		<% end %>
	</ul>
	
	<% if @users.total_pages > 1 %>
	<div class="apple_pagination" style="clear:both">
		<%= will_paginate @users %>
	</div>
	<% end %>
</div>

<div id="sidebar">
	<ul class="modules">
		<li>
			<h3>Icon Legend</h3>
			<ul class="legend">
				<li class="expert"><strong>Expert</strong></li>
				<li class="admin"><strong>Administrator</strong></li>
			</ul>
		</li>
	</ul>
</div>