<% @current_tab = :'People' %><!-- TODO  Should only display if current user, otherwise show something like "_____'s Profile"  -->
<div id="main_content">
	<div class="content_bar" id="top">
		<div class="breadcrumbs">
			<p>Jump to:</p>
			<ul>
				<li class="first"><%= link_to "People", users_path %></li>
				<li><%= current_user == @user ? "Your Profile" : @user.to_s  %></li>
			</ul>
		</div>
	</div>
	<h2><%= current_user == @user ? "Your Profile" : @user.to_s  %></h2>


	<% show_edit = current_user == @user || logged_in_as_owner? %>
	<% show_disable = logged_in_as_owner? && !@user.owner? %>
	<% if show_edit || show_disable %>
		<div class="module actions profile_overlay">
			<div class="content">
				<h4>Profile Actions</h4>
				<ul class="action_nav">
					<% if show_edit %>
					<li class="edit"><%= link_to "Edit <span class='action_target'>Profile</span>", edit_user_url(@user), :class => 'action' %></li>
					<li class="edit"><%= link_to "Upgrade <span class='action_target'>Subscription</span>", upgrade_url, :class => 'action' %></li>
					<% end %>
					<% if show_disable %>
						<% if @user.disabled? %>
							<li class="add"><%= link_to "Reactivate <span class='action_target'>User</span>", reactivate_user_url(@user), :class => 'action', :confirm =>  "Are you sure you would like to reactivate this user?" %></li>
						<% else %>
							<li class="delete"><%= link_to "Disable <span class='action_target'>User</span>", disable_user_url(@user), :class => 'action', :confirm =>  "Are you sure you would like to disable this user?" %></li>
						<% end %>
					<% end %>
				</ul>
			</div>
		</div>
	<% end %>


	<table class="profile people" summary="User details">
		<thead>
			<tr>
				<th scope="row">
					<div class="item_image module image">
						<%= avatar_for(@user, :large) %>
						<% if @user.expert? %><span class="marker expert replace">Expert</span><% end %>
					</div>
				</th>
				<td>
					<dl class="profile_header">
						<dt><%= (@user.disabled? ? "<strike>" : "") + h(@user) + (@user.disabled? ? "</strike>" : "") %></dt>
						<% unless @user.location.blank? %><dd><%=h @user.location %></dd><% end %>
						<% unless @user.zipcode.blank? %><dd><%=h @user.zipcode %></dd><% end %>
						<dd><%= @user.access_class.nil? ? 'Non-Premium User' : @user.access_class.name + ' Member' %></dd>
					</dl>
					<div class="button clear"><a href="<%= email_user_url(@user) %>"><span class="icon email">Email <%= h(@user) %></span></a></div>
				</td>
			</tr>
		</thead>
		<tbody>
			<% unless @user.about.blank? %>
			<tr>
				<th scope="row">About</th>
				<td><%= details_format(@user.about) %></td>
			</tr>
			<% end %>

			<% unless @user.interests.blank? %>
			<tr>
				<th scope="row">Interests</th>
				<td><%= details_format(@user.interests) %></td>
			</tr>
			<% end %>

			<% unless @user.website_1.blank? && @user.website_2.blank? %>
			<tr>
				<th scope="row">Websites</th>
				<td>
					<ul>
						<% unless @user.website_1.blank? %>
						<li><%= link_to @user.website_1, "http://" + @user.website_1 %></li>
						<% end %>
						<% unless @user.website_2.blank? %>
						<li><%= link_to @user.website_2, "http://" + @user.website_2 %></li>
						<% end %>
					</ul>
				</td>
			</tr>
			<% end %>

			<% if logged_in_as_owner? %>
			<tr>
				<th scope="row">Reason for Joining</th>
				<td><%= details_format(@user.reason) %></td>
			</tr>
			<tr>
				<th scope="row">First Name</th>
				<td><%= details_format(@user.first_name) %></td>
			</tr>
			<tr>
				<th scope="row">Last Name</th>
				<td><%= details_format(@user.last_name) %></td>
			</tr>
			<% end %>
			<% if show_edit %>
			<tr>
				<th scope="row">Subscription Information</th>
				<td><%= render :partial => '/subscriptions/show_subscription', :locals => { :subscription => @user.subscription } %>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>
<div id="sidebar">
	<ul class="modules">
		<li>
			<h3>Icon Legend</h3>
			<ul class="legend">
				<li class="expert"><strong>Expert</strong></li>
				<li class="admin"><strong>Administrator</strong></li>
			</ul>
		</li>
	</ul>
</div>
