<h1><%= @page_title = "Signup" %></h1>

<% form_for :user, @user, :url => signup_url do | f | -%>
  <%= f.error_messages %>
  
  <%= f.label :login %>
  <%= f.text_field :login %>
  
  <br />

  <%= f.label :email %>
  <%= f.text_field :email %>

  <br />
  
  <%= f.label :password %>
  <%= f.password_field :password %>

  <br />
  
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
	
	<br />
	
	<%= submit_tag 'Sign up' %>
<% end -%>

