<h1><%= @page_title = "Signup" %></h1>

<% form_for :user, @user, :url => signup_url do | f | -%>
  <%= f.error_messages %>
  
  <p>
    <%= f.label :login %>
    <%= f.text_field :login %>
  </p>

  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>

  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>
  
  <p>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </p>
	
  <p>
	  <%= submit_tag 'Sign up' %>
  </p>
<% end -%>

