<% @current_tab = :"Sign up" %>
<div id="main_content">
	<div class="title bar">
		<h2><%= @page_title = "Signup" %></h2>
	</div>

	<% form_for :user, @user, :url => signup_url, :html => {:class => 'edit'} do | f | -%>
		<%= f.error_messages %>

		<fieldset class="input">
			<div class="inp group">
				<%= f.label :"Select a Username" %>
				<%= f.text_field :login, :class => 'inp_text' %>
			</div>
			
			<div class="inp group">
				<%= f.label :display_name %>
				<%= f.text_field :display_name, :class => 'inp_text' %>
			</div>
			
			<div class="inp group">
				<%= f.label :"Your First Name" %>
				<%= f.text_field :first_name, :class => 'inp_text' %>
			</div>

			<div class="inp group">
				<%= f.label :"Your Last Name" %>
				<%= f.text_field :last_name, :class => 'inp_text' %>
			</div>

			<div class="inp group">
				<%= f.label :"Your Email Address" %>
				<%= f.text_field :email, :class => 'inp_text' %>
			</div>

			<div class="inp group">
				<%= f.label :"Choose a Password" %>
				<%= f.password_field :password, :class => 'inp_text' %>
			</div>

			<div class="inp group">
				<%= f.label :password_confirmation %>
				<%= f.password_field :password_confirmation, :class => 'inp_text' %>
			</div>

			<div class="inp group">
				<%= f.label :"Why are you interested in joining this community?" %>
				<%= f.text_area :reason, :class => 'inp_area' %>
			</div>

			<p>By signing up you agree to the <a href="/tos" target="_blank">terms of use</a> for this site.</p>

		</fieldset>
		<fieldset class="submit">
			<%= submit_tag "Sign Up", :class => "make_button", :id => "signup" %>
		</fieldset>
	<% end -%>
</div>