<div id="primary">
  <h1>Subscribe to <%= current_community %></h1>
  
  <% if @subscription_plans %>
    <% form_tag(upgrade_url) do  %>
  
      <div id="priceTable">
        <% for subscription_plan in @subscription_plans %>
          <% if subscription_plan.enabled %>
            <p class="plus_label">
              <%= radio_button_tag(:selected_plan, subscription_plan.id) %> <%= label :selected_plan, subscription_plan.id, "#{subscription_plan.name} ($#{subscription_plan.price} for #{subscription_plan.terms})" %>
            </p>
          <% end %>
        <% end %>

      </div>                
        <p>
          <%= submit_tag "Purchase selected plan" %> or <%= link_to "Cancel", community_home_url %>
        </p>

    <% end %>
  <% end %>
  
</div>
