<% @current_tab = :Courses %>
<div id="primary">
    <h1 class="grouped"><%=h @category %></h1>
	<div style="text-align:right">Sort By:<select>
		<option default="true">None</option>
	</select> 
	Filter By:<select>
		<option default="true">None</option>		
	</select></div>
	<% puts "\n" * 5 + @category.inspect + "\n" * 5  %>
	<ul>
	    <% for article in @category.articles %>
	    <li>
	        <h2><%= link_to h(article), "" %><% if article.video %><a href="#">&nbsp<img src="/images/video.png"/></a><% end %><% if !article.attachments.blank?%>&nbsp <%= article.attachments.length%><img src="/images/attachment.png"/><% end %></h2>
			<img src="/images/calendar.png"/> <%= article.date.strftime("%m/%d/%Y") %> | <img src="/images/dude.png"/> <%= article.user %>
	        <p>
	            <%= teaser_format(article.teaser) %>
	        </p>
	    </li>
	    <% end %>
	</ul>
</div>
<div id="secondary">
  <ul class="actions first">
    <li class="action add">
      <span><%= link_to "Add a Category", "" %></span>
    </li>
    <li class="action edit">
      <span><%= link_to "Edit Categories", "" %></span>
    </li>
    <li class="action add">
      <span><%= link_to "Add an Article", "/library/article/new" %></span>
    </li>
  </ul>
  
    <ul class="categories">
      <h2>Categories</h2>
      <% for category in $library %>
        <% content_tag(:li) do %>
          <%= link_to category, "" %>
        <% end %>
      <% end %>
      <% content_tag(:li) do %>
        <%= link_to "All Content", "" %>    
    </ul>
  <% end %>
</div>
	
