<div id="main_content">
	<div class="title bar">
		<h2><%= h(@page.name) %></h2>
	</div>
	<% if @page && logged_in_as_owner? %>
  	<div class="module actions">
  		<div class="content">
  			<h4>Page Actions</h4>
  			<ul class="action_nav">
  				<li class="edit"><%= link_to("Edit <span class='action_target'>Page</span>", edit_page_url(@page))  if logged_in_as_owner? %></li>
  				<li class="delete"><%= link_to("Deactivate <span class='action_target'>Page</span>", page_url(@page), :method => :delete, :confirm =>  "Are you sure you would like to deactivate this page?")  if logged_in_as_owner? %></li>
  			</ul>
  		</div>
  	</div>
  <% end %>
  <%= @page.body %>
  <div class="choices">
    <div style="float:left">
      <%=button_to "Yes, upgrade me now!", upgrade_url, :class => "make_button", :id => "signup" %>
    </div>
    <div style="float:left; margin-left:4em;">
      <%= button_to("No thanks", community_home_url, :class => "make_button", :id => "cancel") %>
    </div>
  </div>
</div>