
<div>
  <strong>Course:</strong> <%=h @course %>
  <strong>Chapter:</strong> <%=h @chapter %>
</div>

<% form_for [@course, @chapter, @lesson], :html => { :multipart => true } do | f | %>
  <%= error_messages_for(:lesson, :object => [@lesson.attachment, @lesson]) %>
  
  <div class="lesson">
  <%= f.label(:title, 'Lesson Title') %>
  <%= f.text_field :title, :class => "text single"  %>
  
  <%= f.label(:teaser, "Lesson Teaser") %>
  <%= f.text_area(:teaser, :rows => 7, :cols => 70, :class => "text medium") %>

  <%= f.label(:body, 'Lesson Body') %>
  <%= f.text_area(:body, :rows => 25, :cols => 82, :mce_editable => "true", :class => "text large") %>
  </div>
  
  <%= f.label(:lesson_attachment, "Attachments") %>
  <%= f.file_field :lesson_attachment %> 

  <div>
    <span class="draft plus_label">
        <%= f.check_box :draft %>
        <%= f.label :draft, 'Draft?' %>
    </span>
    <span class="premium plus_label">
      <%= f.check_box :premium %>
      <%= f.label :premium, 'Only paid subscribers can access this lesson' %>
    </span>
  </div>
 
 <% if mode == :new %>
  <%= submit_tag "Create this lesson" %> or <%= link_to "Cancel", @course %>
 <% else %>
  <%= submit_tag "Save changes" %> or <%= link_to "Cancel", [@course, @chapter, @lesson] %>
 <% end %>
  
  
<% end %>