
<div>
  <strong>Course:</strong> <%=h @course %>
  <strong>Chapter:</strong> <%=h @chapter %>
</div>

<% form_for [@course, @chapter, @lesson] do | f | %>
  <%= f.error_messages %>
  
  <%= f.label(:'Lesson Title') %>
  <%= f.text_field :title, :class => "text single"  %>
  
  <%= f.label(:'Lesson Teaser') %>
  <%= f.text_area(:teaser, :rows => 7, :cols => 70, :class => "text medium") %>


  <%= f.label(:'Lesson Body') %>
  <%= f.text_area(:body, :rows => 25, :cols => 82, :mce_editable => "true", :class => "text large") %>
  

  <div class="draft plus_label">
      <%= f.check_box :draft %>
      <%= f.label :'Draft?' %>
  </div>
  <div class="premium plus_label">
    <%= f.check_box :premium %>
    <%= f.label 'Only paid subscribers can access this lesson' %>
  </div>
 
  
  <%= submit_tag "Save" %> or <%= link_to "Cancel", @course %>
  
<% end %>