<div>
    <strong>Course:</strong>
    <%=h @course %>
    <strong>Chapter:</strong>
    <%=h @chapter %>
</div>
<% form_for [@course, @chapter, @lesson], :html => { :multipart => true } do | l | %>
<%= render :partial => '/contents/edit_content', :locals => { :content => @lesson.content } %>
<% if mode == :new %>
<%= submit_tag "Create this lesson" %>or <%= link_to "Cancel", @course %>
<% else %>
<%= submit_tag "Save changes" %>or <%= link_to "Cancel", [@course, @chapter, @lesson] %>
<% end %>
<% end %>