<% @current_tab = :Courses %>
<% content_for :head, javascript_include_tag('courses') %>
<script src="/javascripts/swfobject.js"></script>
<div id="main_content">
	<div class="content_bar" id="top">
		<div class="breadcrumbs">
			<p>Jump to:</p>
			<ul>
				<li class="first"><%= link_to "Courses", courses_path %></li>
				<li><%= link_to h(snippet(@course.to_s)), @course %></li>
				<li><%= h(snippet(@lesson.to_s)) %></li>
			</ul>
		</div>
		<% if logged_in_as_owner? %>
		<div class="action">
			<span class="button_left">&nbsp;</span><a href="<%= new_course_url %>" class="button"><span class="icon create">+</span><span class="text">Create a Course</span></a>
		</div>
	    <% end %>
	</div>

	<%= render :partial => '/contents/show_content', :locals => { :content => @lesson.content } %>
	<%= render :partial => '/contents/show_attachments', :locals => { :content => @lesson.content } %>
	<div class="content_bar" id="bottom">
		<div class="breadcrumbs">
			<p>Jump to:</p>
			<ul>
				<li class="first"><%= link_to "Courses", courses_path %></li>
				<li><%= link_to h(@course), @course %></li>
			</ul>
		</div>
		<ul class="lesson_nav">
			<% if (lesson_higher_item = @lesson.higher_item_visible_to(current_user)) %>
			<li class="previous"><%= link_to("Previous Lesson",[lesson_higher_item.chapter.course,lesson_higher_item.chapter,lesson_higher_item]) %></li>
			<% end %>
			<% if (lesson_lower_item = @lesson.lower_item_visible_to(current_user)) %>
			<li class="next inactive"><%= link_to("Next Lesson",[lesson_lower_item.chapter.course,lesson_lower_item.chapter,lesson_lower_item]) %></li>
			<% end %>
		</ul>
	</div>
</div>
<div id="sidebar">
	<ul class="modules">
		<%= @themed_courses_sidebar %>
	</ul>
</div>