<% @current_tab = :Courses %>
	<script src="/javascripts/swfobject.js"></script>
    <div id="lesson_placeholder"> <!-- FIXME - Remove after there is the ability to target just lesson pages -->
    <div id="primary">
      <div id="lesson">
            <p><%= link_to "&#8592; Return to Course Overview", @lesson.chapter.course %></p>
            <h1 class="grouped"><%=h @lesson %></h1>
        <div id="lesson_body">
          <div class="lesson_info">
            <p>by <strong><%= link_to h(@lesson.user), @lesson.user %></strong> | <%= @lesson.created_at.to_s(:month_year) %></p>
          </div>

          <div class="course_description">
            <p><%= teaser_format(@lesson.teaser) %></p>
          </div>        
          
          <% if !@lesson.premium || logged_in_as_active? %>
            <% if @lesson.flash_video %>
				<% flash_video_url = @lesson.flash_video.authenticated_s3_url() %>
				<p>Video: <%= @lesson.flash_video.filename %> </P>
				<div id="player<%=@lesson.flash_video.id%>">This text will be replaced</div>
				<p>
					<script type="text/javascript">
			          var so = new SWFObject('/mediaplayer.swf','mpl','500','500','8');
			          so.addParam('allowfullscreen','true');
			          so.addParam('allowscriptaccess','true');
			          so.addVariable('width','500');
			          so.addVariable('height','500');
			          so.addVariable('file','<%=h flash_video_url %>');
					  so.addVariable('type','flv');
					  so.addVariable('autostart','false');
					  so.write('player<%= @lesson.flash_video.id%>');
			        </script>
				</p>
			<% end %>
            <%= auto_link(@lesson.body) %>
          <% elsif !logged_in? %>  
            <p>You must <%= link_to "login", login_url %> to see this lesson because it is premium content.</p>
          <% else %>
            <p><strong><%= link_to "Upgrade your account", upgrade_url %> to see the entire lesson!</strong></p>
          <% end %>

          <div class="lesson_navigation">
            <% if @lesson.higher_item %>   
              <p><small>PREVIOUS LESSON</small> &mdash; <%= link_to h(@lesson.higher_item), [@lesson.chapter.course, @lesson.chapter, @lesson.higher_item] %> </p>
            <% end %>
            <% if @lesson.lower_item %>   
              <p><small>NEXT LESSON</small> &mdash; <%= link_to h(@lesson.lower_item), [@lesson.chapter.course, @lesson.chapter, @lesson.lower_item] %> </p>
            <% end %>
            <p><%= link_to "&#8592; Return to Course Overview", @lesson.chapter.course %></p>
          </div>
        </div>
      </div>
    </div>
    </div> <!-- Remove -->
    
    <div id="secondary">
      <ul class="actions first">
        <li class="action edit">
          <span><%= link_to "Edit this Lesson", edit_course_chapter_lesson_url(@course, @chapter, @lesson)  if logged_in_as_owner? %></span>
        </li>
        <li class="action delete">
          <span><%= link_to("Delete this Lesson", course_chapter_lesson_url(@course, @chapter, @lesson), :method => :delete, :confirm =>  "Are you sure you would like to delete this lesson?")  if logged_in_as_owner? %></span>
        </li>
      </ul>

      <% if @lesson.premium %>
      <p class="premium">
        This lesson is premium content
      </p>
      <% end %>

      
      <div class="course">
        <div class="course_title">
          <span>Course</span>
          <p><%= link_to h(@course), @course %></p>
        </div>
        <div class="lessons">
          <ol>
            <% for lesson in @lesson.chapter.lessons %>

              <% if lesson == @lesson %>
              <li class="current"><%=h lesson %></li>
            
              <% else %>
                  <li><%= link_to h(lesson), [lesson.chapter.course, lesson.chapter, lesson] %></li>
              <% end %>    
            
            <% end %>
          </ol>
        </div>
      </div>

      <% if @lesson.attachment %>
        <strong>Attachments</strong>
        <p>
          <%= link_to @lesson.attachment.filename, @lesson.attachment.public_filename %> 
          <% if logged_in_as_owner? %>
            [ <%= link_to("Delete", course_chapter_lesson_attachment_url(@course, @chapter, @lesson, @lesson.attachment), :method => :delete, :confirm => "Are you sure you'd like to delete this attachment?") %>]
          <% end %>
        </p>
      <% end %>
      

      <p><%= "This lesson is not published" if @lesson.draft %></p>
    </div>
    