<% @current_tab = :learn %>

    <div id="lesson_placeholder"> <!-- FIXME - Remove after there is the ability to target just lesson pages -->
    <div id="primary">
      <div id="lesson">
        <div id="lesson_title">
            <h1><%= @lesson %></h1>
        </div>
        <div id="lesson_body">
          <div class="lesson_info">
            <p>by <strong><%= link_to @lesson.user, @lesson.user %></strong> | <%= @lesson.created_at %></p>
          </div>
      
          <%= textilize(@lesson.body) %>

          <div class="lesson_navigation">
              <% if @lesson.higher_item %>   
                <p>PREVIOUS LESSON: <%= link_to @lesson.higher_item, [@lesson.chapter.course, @lesson.chapter, @lesson.higher_item] %> </p>
              <% end %>
              <% if @lesson.lower_item %>   
                <p>NEXT LESSON: <%= link_to @lesson.lower_item, [@lesson.chapter.course, @lesson.chapter, @lesson.lower_item] %> </p>
              <% end %>
              <p><%= link_to "Return to Course Overview >", @lesson.chapter.course %></p>
          </div>
        </div>
      </div>
    </div>
    </div> <!-- Remove -->
    
    <div id="secondary">
      <div class="course">
          <div class="course_title">
            <span><img src="" alt="" />Course:</span>
            <p><%= @lesson.chapter.course %></p>
          </div>
          <div class="lessons">
            <ol>
              <% for lesson in @lesson.chapter.lessons %>
                <% if lesson == @lesson %>
                  <li>lesson</li>
                <% else %>
                  <li><%= link_to lesson, [lesson.chapter.course, lesson.chapter, lesson] %></li>
                <% end %>
              <% end %>
            </ol>
          </div>
      </div>
      
      <p>
        <%= link_to "View more courses >", courses_url %>
      </p>
      
      <p>
        <%= link_to "Edit this lesson", edit_course_chapter_lesson_url(@course, @chapter, @lesson)  if logged_in? && current_user.owner? %>
      </p>
          
      <p>
        <%= link_to "View Entire Course", @course %>
        <%= "This lesson is not published" if @lesson.draft %>
      </p>

        <%= "This lesson is premium content" if @lesson.premium %>
  </div>
    




