<% @current_tab = :Courses %>
	<script src="/javascripts/swfobject.js"></script>
    <div id="lesson_placeholder"> <!-- FIXME - Remove after there is the ability to target just lesson pages -->
    <div id="primary">
      <div id="lesson">
            <p><%= link_to "&#8592; Return to Course Overview", @lesson.chapter.course %></p>
  		<%= render :partial => '/contents/show_content', :locals => { :content => @lesson.content } %>
          <div class="lesson_navigation">
            <% if @lesson.higher_item %>   
              <p><small>PREVIOUS LESSON</small> &mdash; <%= link_to h(@lesson.higher_item), [@lesson.chapter.course, @lesson.chapter, @lesson.higher_item] %> </p>
            <% end %>
            <% if @lesson.lower_item %>   
              <p><small>NEXT LESSON</small> &mdash; <%= link_to h(@lesson.lower_item), [@lesson.chapter.course, @lesson.chapter, @lesson.lower_item] %> </p>
            <% end %>
            <p><%= link_to "&#8592; Return to Course Overview", @lesson.chapter.course %></p>
          </div>
        </div>
	  </div>
	</div>
    
    <div id="secondary">
      <ul class="actions first">
        <li class="action edit">
          <span><%= link_to "Edit this Lesson", edit_course_chapter_lesson_url(@course, @chapter, @lesson)  if logged_in_as_owner? %></span>
        </li>
        <li class="action delete">
          <span><%= link_to("Delete this Lesson", course_chapter_lesson_url(@course, @chapter, @lesson), :method => :delete, :confirm =>  "Are you sure you would like to delete this lesson?")  if logged_in_as_owner? %></span>
        </li>
      </ul>

      	<% if !(s = @lesson.notes).blank? %>
			<p class="premium">
				This lesson is: <%= s %>
			</p>
		<% end %>
      
      <div class="course">
        <div class="course_title">
          <span>Course</span>
          <p><%= link_to h(@course), @course %></p>
        </div>
        <div class="lessons">
          <ol>
            <% for lesson in @lesson.chapter.lessons %>

              <% if lesson == @lesson %>
              <li class="current"><%=h lesson %></li>
            
              <% elsif lesson.visible_to(current_user) %>
                  <li><%= link_to_lesson(lesson) %></li>
              <% end %>    
            
            <% end %>
          </ol>
        </div>
      </div>
      <%= render :partial => '/contents/show_attachments', :locals => { :content => @lesson.content } %>
    </div>
    