<% form_for @course, :html => { :class => 'edit' } do | f | %>
	<%= f.error_messages %>

	<fieldset class="input">

		<div class="inp group">
			<%= f.label(:title) %>
			<%= f.text_field :title, :class => "inp_text" %>
		</div>

		<div class="inp group">
			<%= f.label(:description) %>
			<%= f.text_area(:description, :class => "inp_area mceEditor", :style => "width:99%")	 %>
		</div>

		<div class="checkbox group">
		    <%= f.check_box :draft %>
		    <%= f.label :draft, 'Draft?' %>
		</div>

	</fieldset>
	<fieldset class="submit">
		<ul class="submit_opts">
			<% if mode == :new %>
			<li><%= submit_tag "Create Course", :class => "make_button", :id => "create" %></li>
			<% else %>
			<li><%= submit_tag "Save Changes", :class => "make_button", :id => "save" %></li>
			<% end %>
			<li class="text">or <%= link_to "Cancel", @course %></li>
		</ul>
	</fieldset>
<% end %>