<% @current_tab = :Courses %>
<% @page_class = :courses_index %>

<div id="primary">
  <h1>Course List</h1>
  <div class="courses">
    <ol class="courses">
      <% for course in @courses %>

      <li class="course">
        <h3 class="course_title grouped"><%= link_to h(course), course %></h3><%= link_to "Edit", edit_course_url(course), :class => 'action_sm' if logged_in_as_owner? %>
        <p class="course_description">
          <%=h course.description %>
        </p>
        <span class="meta_info">
          <%= course.user %> | <%= course.created_at.to_s(:month_day) %>
        </span>
      </li>

      <% end %>
    </ol>
  </div>
</div>
<div id="secondary">
  <div class="section_copy">
    <h2>About ThoughtLead</h2>
    <p>Part software platform, part conscious business network, part marketing service — and driven entirely by a passion to create a better future — ThoughtLead's goal is to evolve the way ideas are shared, spread, and monetized online.</p>
  </div>
  
  <ul class = "actions first">
    <li>
      <%= link_to "+ Add a Course", new_course_url, :class => 'action' if logged_in_as_owner? %>
    </li>
  </ul>
</div>

