<% @current_tab = :Courses %>
<% @page_class = :courses_index %>

<div id="primary">
  <div class="courses">
    <ol class="courses">
      <% for course in @courses %>

      <li class="course">
        <h3 class="course_title grouped"><%= link_to h(course), course %></h3><%= link_to "Edit", edit_course_url(course), :class => 'action_sm' if logged_in_as_owner? %>
        <p class="course_description">
          <%=h course.description %>
        </p>
        <span class="meta_info">
          <%= course.user %> | <%= course.created_at.to_s(:month_day) %>
        </span>
      </li>

      <% end %>
    </ol>
  </div>
</div>
<div id="secondary">
  <div class="section_copy">
    <h2>About ThankGodForEvolution.net</h2>
    <p>You&prime;ve read (or heard about) the book. Now you can take your exploration deeper with the TGFE! study guide online, lively discussions, and social networking. To get started, click on the first session, discuss what you&#8242;re thinking, and start contacting the people you find interesting and inspiring!</p>
  </div>
  
  <ul class = "actions first">
    <li>
      <%= link_to "+ Add a Course", new_course_url, :class => 'action' if logged_in_as_owner? %>
    </li>
  </ul>
</div>

