<% @current_tab = :Courses %>
<% @page_class = :courses_index %>

<div id="primary">
  <div class="courses">
    <ol class="courses">
      <% for course in @courses %>

      <li class="course">
        <h3 class="course_title grouped"><%= link_to h(course), course %></h3><%= link_to "Edit", edit_course_url(course), :class => 'action_sm' if logged_in_as_owner? %>
        <p class="course_description">
          <%=h course.description %>
        </p>
        <span class="meta_info">
          <%= course.user %> | <%= course.created_at.to_s(:month_day) %>
        </span>
      </li>

      <% end %>
    </ol>
  </div>
</div>
<div id="secondary">
  <div class="section_copy">
    <h2>About Nourishing Destiny</h2>
    <p>Take some time to explore leading-edge content from many of today's most influential and respected alternative medical practitioners. Simply click on a heading, and you'll be taken to an overview page with articles, reprints, and interview transcripts. And make sure to discuss what you're thinking in the Discussions area!</p>
  </div>
  
  <ul class = "actions first">
    <li>
      <%= link_to "+ Add a Course", new_course_url, :class => 'action' if logged_in_as_owner? %>
    </li>
  </ul>
</div>

