<% @current_tab = :Courses %>
<% @page_class = :courses_index %>

<div id="primary">
  <div class="courses">
    <ol class="courses">
      <% for course in @courses %>
		  <% if !course.draft || current_user == course.community.owner  %>
	
	      <li class="course">
	        <h3 class="course_title grouped"><%= link_to h(course), course %></h3><%= link_to "Edit", edit_course_url(course), :class => 'action_sm' if logged_in_as_owner? %> 
			<span style="color:red">
			<%= course_index_notes(course) %>
			</span>
	        <p class="course_description">
	          <%=h course.description %>
	        </p>
	        <span class="meta_info">
	          <%= course.user %> | <%= course.created_at.to_s(:month_day) %>
	        </span>
	      </li>
		  
		  <% end %>
      <% end %>
    </ol>
  </div>
</div>
<div id="secondary">
  <%= @themed_courses_sidebar %>

  <ul class = "actions first">
    <li class="action add">
      <span><%= link_to "Add a Course", new_course_url, :class => 'action' if logged_in_as_owner? %></span>
    </li>
  </ul>
</div>

