<% @current_tab = :Courses %>

<div id="primary">
  <p><%= link_to "&#8592; Return to Courses", courses_url %></p>
  <h1 class="grouped"><%=h @course %></h1>
  <% if @course.draft %><span style="color:red">Draft: course contents are hidden.</span><br/><% end %>
  <div class="course_description">
    <p><%=h @course.description %></p>
  </div>
  <% for chapter in @course.chapters %>
  	<% unless chapter.draft && !logged_in_as_owner? %>
	    <div class="chapter">
	      <%=h chapter %><% if chapter.draft %><br/><span style="text-transform:capitalize; color:red">Draft: chapter contents are hidden.</span><% end %>
	    </div>
	    <ul>
	      <% for lesson in chapter.lessons  %>
		  	<% if lesson.visible_to(current_user) %>
	        <li>
	          <h2><%= access_controlled_link(lesson) %></h2>
	          <span class="meta_info">
    	        <% unless lesson.content.author.blank? %>by <strong><%= lesson.content.author %></strong> | <% end %><%= lesson.content.updated_at.to_s(:day_month_year) %>
        	  </span>
			  <span style="color:red"><%= lesson.notes %></span><br/> 
	          <p><%= teaser_format(lesson.content.teaser) %></p>
	        </li>
			<% end %>
	      <% end %>
	  <% end %>
    </ul>
  
  <div class="add_lesson">
    <%= link_to "+ Add a Lesson", new_course_chapter_lesson_url(@course, chapter), :class => 'action_sm' if logged_in_as_owner? %>
  </div>
  
  <% end %>
  
</div>
<div id="secondary">
  <ul class="actions first">
    <li class="action edit">
      <span><%= link_to "Edit this Course", edit_course_url(@course) if logged_in_as_owner? %></span>
    </li>
    <li class="action edit">
      <span><%= link_to("Edit Chapters", course_chapters_url(@course)) if logged_in_as_owner? %></span>
    </li>
    <li class="action delete">
      <span><%= link_to("Delete this Course", course_url(@course), :method => :delete, :confirm => "Are you sure you would like to delete this course?  This action cannot be undone.") if logged_in_as_owner? %></span>
    </li>
  </ul>  
</div>



