<% @current_tab = :Courses %>

<div id="primary">
  <h1 class="grouped"><%=h @course %></h1>
  <span class="meta_info author">by <%= link_to h(@course.user), @course.user %></span>
  <div class="course_description">
    <p><%=h @course.description %></p>
  </div>
  <% for chapter in @course.chapters %>
    <div class="chapter">
      <%=h chapter %>
    </div>
    <ul>
      <% for lesson in chapter.lessons  %>
        <li>
          <h2><%= link_to h(lesson), [@course, chapter, lesson] %></h2>
        
          <p><%= teaser_format(lesson.teaser) %></p>
        </li>
      <% end %>
    </ul>
  
  <div class="add_lesson">
    <%= link_to "+ Add a Lesson", new_course_chapter_lesson_url(@course, chapter), :class => 'action' if logged_in_as_owner? %>
  </div>
  
  <% end %>
  
  <% if logged_in_as_owner? %>
    <div class="add_chapter">
      Add a New Chapter

      <% form_for [@course, Chapter.new] do | f | %>
        <%= f.error_messages %>

        <%= f.text_field :name, :class => "text single"  %>
  
        <%= submit_tag "Add" %>
      <% end %>
    </div>
  <% end %>
</div>
<div id="secondary">
  <ul class="actions first">
    <li>
      <%= link_to "Edit this Course &rarr;", edit_course_url(@course), :class => 'action' if logged_in_as_owner? %>
    </li>
    <li>
      <%= link_to("Delete this Course", course_url(@course), :class => 'action', :method => :delete, :confirm => "Are you sure you would like to delete this course?  This action cannot be undone.") if logged_in_as_owner? %>
    </li>
  </ul>  
    <%= link_to "View All Courses", community_home_url %>
</div>



