
<h2><%= @course %></h2>

by <%= link_to @course.user, @course.user %>

<br /><br />
<h4>Course Description</h4>
<%= textilize(@course.description) %>

<% for chapter in @course.chapters %>
  <strong><%= chapter %></strong>
  <br />
  <ul>
    <% for lesson in chapter.lessons  %>
      <li>
        <%= link_to lesson, [@course, chapter, lesson] %>
      </li>
    <% end %>
  </ul>
  
  <%= link_to "Add lesson", new_course_chapter_lesson_url(@course, chapter) %>
  <br /><br /><br /><br />
<% end %>


<br /><br /><br />

Add Chapter

<%= error_messages_for :chapter %>
<% form_for [@course, Chapter.new] do | f | %>
  <%= f.text_field :name %>
  <br />
  <%= submit_tag "Add" %>
<% end %>

<br /><br /><br /><br /><br />

<%= link_to "Edit this course", edit_course_url(@course) %>
<br /><br />
<%= link_to "View All Courses", courses_url %>



