
<h1><%= @course %></h1>

by <%= link_to @course.user, @course.user %>

<h3>Course Description</h3>
<%= textilize(@course.description) %>

<%= link_to "New Article", new_course_article_url(@course) %>

<h3>Articles in this Course</h3>
<% for article in @course.articles %>
  <%= link_to article, [@course, article] %>
  <br />
<% end %>

<br /><br /><br /><br /><br />

<%= link_to "Edit this course", edit_course_url(@course) %>
<br /><br />
<%= link_to "View All Courses", courses_url %>


