<% @current_tab = :Courses %>

<div id="primary" class="<%= @current_tab.to_s.downcase %>">
	<div class="primary_title">
		<h2><%= @current_tab %></h2>
	</div>
	<div class="primary_content">
	  <p><%= link_to "&#8592; Return to Courses", courses_url %></p>
	  <h3 class="grouped"><%=h @course %></h3>
	  <% if @course.draft %><span style="color:red">Draft: course contents are hidden.</span><br/><% end %>
	  <span class="meta_info author">by <%= link_to h(@course.user), @course.user %></span>
	  <div class="course_description">
	    <p><%=h @course.description %></p>
	  </div>
	  <% for chapter in @course.chapters %>
	  	<% if !chapter.draft || current_user == @course.community.owner %>
		    <div class="chapter">
		      <%=h chapter %><% if chapter.draft %><br/><span style="text-transform:capitalize; color:red">Draft: chapter contents are hidden.</span><% end %>
		    </div>
		    <ul>
		      <% for lesson in chapter.lessons  %>
			  	<% if !lesson.draft || current_user == @course.community.owner %>
		        <li>
		          <h4><%= link_to h(lesson), [@course, chapter, lesson] %></h4>
				  <% if lesson.draft %><span style="color:red">Draft</span><br/><% end %> 
		          <p><%= teaser_format(lesson.teaser) %></p>
		        </li>
				<% end %>
		      <% end %>
		  <% end %>
	    </ul>
  
	  <div class="add_lesson">
	    <%= link_to "+ Add a Lesson", new_course_chapter_lesson_url(@course, chapter), :class => 'action_sm' if logged_in_as_owner? %>
	  </div>
  
	  <% end %>
	</div>
</div>
<div id="secondary">
	<ul class="modules">
		<li class="action_nav">
			<ul class="actions">
				<li class="edit"><%= link_to "Edit this Course", edit_course_url(@course) if logged_in_as_owner? %></li>
				<li class="edit"><%= link_to("Edit Chapters", course_chapters_url(@course)) if logged_in_as_owner? %></li>
				<li class="delete"><%= link_to("Delete this Course", course_url(@course), :method => :delete, :confirm => "Are you sure you would like to delete this course?  This action cannot be undone.") if logged_in_as_owner? %></li>
			</ul>
		</li>
	</ul>
</div>