<% @current_tab = :learn %>

<div id="primary">
  <h1 class="grouped"><%= @course %></h1>
  <span class="author">by <%= link_to @course.user, @course.user %></p>
  <div class="course_description">
    <%= textilize(@course.description) %>
  </div>
  <% for chapter in @course.chapters %>
    <div class="chapter">
      <%= chapter %>
    </div>
    <ul>
      <% for lesson in chapter.lessons  %>
        <li>
          <h2><%= link_to lesson, [@course, chapter, lesson] %></h2>
        
          <p><%= lesson.teaser %></p>
        </li>
      <% end %>
    </ul>
  
  <div class="add_lesson">
    <%= link_to "+ Add a Lesson", new_course_chapter_lesson_url(@course, chapter), :class => 'action' %>
  </div>
  
  <% end %>

  <div class="add_chapter">
    Add a New Chapter

    <% form_for [@course, Chapter.new] do | f | %>
      <%= f.error_messages %>

      <%= f.text_field :name %>
  
      <%= submit_tag "Add" %>
    <% end %>
  </div>
</div>
<div id="secondary">
  <%= link_to "Edit this Course &rarr;", edit_course_url(@course), :class => 'action' %>
  <%= link_to "View All Courses", courses_url %>
</div>



