
<h2><%= @course %></h2>

by <%= link_to @course.user, @course.user %>

<br /><br />
<h4>Course Description</h4>
<%= textilize(@course.description) %>

<% for chapter in @course.chapters %>
  <%= chapter %>
  <br />
<% end %>

<br /><br /><br /><br /><br />

<%= link_to "Edit this course", edit_course_url(@course) %>
<br /><br />
<%= link_to "View All Courses", courses_url %>



