<% @current_tab = :Courses %>

<div id="primary">
  <p><%= link_to "&#8592; Return to Course Overview", @course %></p>
  <h1 class="grouped">Rename chapter</h1>
  <br />

    <% form_for [@course, @chapter] do | f | %>
      <%= f.error_messages %>

      <%= f.text_field :name, :class => "text single"  %>
      
      <%= submit_tag "Rename" %> or <%= link_to "Cancel", course_chapters_url(@course) %>
    <% end %>
</div>

