<% @current_tab = :Courses %>

<div id="primary" class="<%= @current_tab.to_s.downcase %>">
	<div class="primary_title">
		<h2><%= @current_tab %></h2>
	</div>
	<div class="primary_content">
	  <p><%= link_to "&#8592; Return to Course Overview", @course %></p>
	  <h1 class="grouped">Rename chapter</h1>
	  <br />
	    <% form_for [@course, @chapter] do | f | %>
	      <%= f.error_messages %>

	      <%= f.text_field :name, :class => "text single"  %>
	      <span class="draft plus_label"><%= f.check_box :draft %>
	        <%= f.label :draft, 'Draft?' %>
	      </span>

	      <%= submit_tag "Rename" %> or <%= link_to "Cancel", course_chapters_url(@course) %>
	    <% end %>
	</div>
</div>

