<% form_for @category do | f | %>

  <%= f.error_messages %>

  <p>
    <%= f.label :name, "Category" %>
    <%= f.text_field :name %>
    <%= f.label :description, "Category description" %>
    <%= f.text_area :description, :rows=>5 %>

	  <%= submit_tag submit_text, :disable_with => "Saving category..." %>
	</p>  
<% end %>
