<% @current_tab = :Article %>
<div id="main_content">
	<div class="content_bar" id="top">
		<div class="breadcrumbs">
			<p>Jump to:</p>
			<ul>
				<li class="first"><%= link_to "Library", articles_path %></li>
			</ul>
		</div>
		<% if logged_in? && current_user.owner? %>
		<div class="action">
			<span class="button_left">&nbsp;</span><a href="<%= new_article_url %>" class="button"><span class="icon create">+</span><span class="text">Create an Article</span></a>
		</div>
	    <% end %>
	</div>
	<h2>Categories</h2>
	<ul class="sep_item_list categories">
		<% current_community.categories.each do |category| %>
		<li>
			<h3><%=h category %></h3>
			<ul class="item_actions">
				<li><%= link_to "Edit", edit_category_url(category) %></li>
				<li><%= link_to "Delete", category, :method => :delete, :confirm => "Are you sure you'd like to delete this category?  Its posts will no longer be categorized.", :class => "delete" %></li>
			</ul>
		</li>
		<% end %>
	</ul>
	<div class="add_sep_item">
		<h2>Add a New Category</h2>
		<%= render :partial => 'form', :locals => { :mode => :new } %>
	</div>
</div>
<%= set_focus_to :category_name %>
