<% @current_tab = :Home %>
<% content_for :head do %>
	<%= stylesheet_link_tag('home') %>
	<%= javascript_include_tag('home') %>
<% end %>
<div id="main_content" class="marketing">
	<div class="banner">
		<div class="banner_wrap">
		<div class="content">
			<h2 class="do_more replace">Take the conversation further.</h2>
			<p>You&rsquo;ve read Michael Dowd&rsquo;s new book, Thank God for Evolution&mdash;or perhaps you&rsquo;re familiar with (or intrigued by) the ideas of evolutionary spirituality and evolutionary theology. Either way, you seek a community of like-minded hearts and minds to explore the most important conversation of our time: how to meaningfully interpret who we are and why we&rsquo;re here in a way that makes sense for our time and can inspire us to create a better world.</p>
			<p class="register replace"><%= link_to "Register for Free Access", signup_url %></p>
		</div>
		<div class="image">
			<img src="<%= themed_file('images/content/home_screenshot.png') %>" alt="Screenshot" />
		</div>
		</div>
	</div>
	<div class="page_content">
		<h2>What Can You Do On the TGFE Network?</h2>
		<ul class="section_list">
			<li class="library">
				<h4><span>Browse Library</span></h4>
				<p>Filled with content by visionaries who share your interest in sacred evolution, the library is a rich resource for learning more about the Great Story. <%= link_to "Join Today", signup_url, :class => "more" %><span class="arrow">&nbsp;</span></p>
			</li>
			<li class="courses">
				<h4><span>Take Courses</span></h4>
				<p>Take free multimedia courses that expand upon the material in TGFE (and serve as an excellent introduction if you've yet to read the book). <%= link_to "Join Today", signup_url, :class => "more" %><span class="arrow">&nbsp;</span></p>
			</li>
			<li class="discussions">
				<h4><span>Join Discussions</span></h4>
				<p>Discuss what you're learning, discovering, and wondering with leaders and peers alike. Our discussion area is there for the community to explore new ideas, ask important questions, and exchange stories. <%= link_to "Join Today", signup_url, :class => "more" %><span class="arrow">&nbsp;</span></p>
			</li>
			<li class="people">
				<h4><span>Meet People</span></h4>
				<p>Connect with other inspired (and inspiring) individuals from around the world who also want to create a better future. Post your own profile, with your bio and interests, and contact other members directly from the website. <%= link_to "Join Today", signup_url, :class => "more" %><span class="arrow">&nbsp;</span></p>
			</li>
		</ul>
	</div>
</div>
<div id="sidebar">
	<ul class="modules">
		<li class="cta register">
			<div class="content">
				<h4 class="get_free replace">Join the Conversation Today</h4>
				<p>Interested in learning more and participating in the conversation about science and religion? You can get free access by signing up today. <%= link_to "Join Today", signup_url, :class => 'more' %><span class="arrow">&nbsp;</span></p>
			</div>
		</li>
	</ul>
</div>