<% @current_tab = :Home %>
<% content_for :head do %>
	<%= stylesheet_link_tag('home') %>
	<%= javascript_include_tag('home') %>
<% end %>
<div id="main_content" class="marketing">
	<div class="banner">
		<div class="banner_wrap">
		<div class="content">
			<h2 class="do_more replace">Do more with your ideas</h2>
			<p>Sell once and receive the dividends again and again. Grow a community that leaves a legacy. Teach others your work in an accessible, attractive, and inspired environment. ThoughtLead lets you do all three. Click the button below to get started with your demo.</p>
			<p class="register replace"><%= link_to "Register for Free Access", signup_url %></p>
		</div>
		<div class="image">
			<img src="<%= themed_file('images/content/home_screenshot.png') %>" alt="Screenshot" />
		</div>
		</div>
	</div>
	<div class="page_content">
		<h2>What can you do?</h2>
		<ul class="section_list">
			<li class="library">
				<h4><span>Browse Library</span></h4>
				<p>As a community founder, you can create a multimedia resource base for your community. Add essays, videos, audio interviews, pictures and charts, downloadable files, and more. <%= link_to "Join Today", signup_url, :class => "more" %><span class="arrow">&nbsp;</span></p>
			</li>
			<li class="courses">
				<h4><span>Join Courses</span></h4>
				<p>Structured information (a course) from an expert (you) is more valuable to people (your members) than all the web surfing in the world. We provide an easy format to create multimedia courses from your ideas and expertise. <%= link_to "Join Today", signup_url, :class => "more" %><span class="arrow">&nbsp;</span></p>
			</li>
			<li class="discussions">
				<h4><span>Join Discussions</span></h4>
				<p>Start conversations, organize them into themes, read your community members' responses, and engage. Part blog, part forum, the ThoughtLead discussion area gives you the benefit of collective contribution and the flexibility to keep the inquiry focused. <%= link_to "Join Today", signup_url, :class => "more" %><span class="arrow">&nbsp;</span></p>
			</li>
			<li class="people">
				<h4><span>Meet People</span></h4>
				<p>Members can create simple profiles and safely network with each other. Invite colleagues to become "expert" members. Search the member database by interests, names, or locations. <%= link_to "Join Today", signup_url, :class => "more" %><span class="arrow">&nbsp;</span></p>
			</li>
		</ul>
	</div>
</div>
<div id="sidebar">
	<ul class="modules">
		<li class="cta register">
			<div class="content">
				<h4 class="get_free replace">Get Free Access</h4>
				<p>Interested in joining the ThoughtLead community? You can get free access by signing up today. <%= link_to "Join Today", signup_url, :class => 'more' %><span class="arrow">&nbsp;</span></p>
			</div>
		</li>
	</ul>
</div>