<div id="header" class="content_area">
	<div id="logo">
		<h1><%= link_to(current_community.name, community_home_url) %></h1>
		<p class="tagline">Do more with your ideas.</p>
	</div>
	<div id="search" class="search">
		<% form_tag :controller=>'search', :action=>'index' do %>
		<div>
	  		<%= text_field( :search_string, {}, :class=>"inp_text", :value=>"Search...") %>
			<%= image_submit_tag("#{themed_file('images/template/search_btn.gif')}", :class => "btn_image", :name => "btn_image") %>
			</div>
  		<% end %>
	</div>
	<ul id="account_nav">
		<% if logged_in? %>
		<li class="profile"><em>Welcome,</em> <strong><%= link_to current_user, user_url(current_user), :class => 'user', :title => "View your profile" %></strong>
		  (<%= link_to "edit", edit_user_url(current_user), :class => 'action', :title => "Update your profile" %>)</li>
		<% if logged_in_as_owner? %>
			<li class="community_setup"><%= link_to "Community Setup", edit_community_url %></li>
		<% end %>		
		<% if logged_in_as_super_admin? %>
			<li class="community_setup"><%= link_to "Community Activation", communities_url %></li>
		<% end %>		
		<li><%= link_to('Sign Out', logout_url) %></li>
		<% else %>
		<li class="login"><%= link_to('Sign In', login_url) %></li>
		<li><%= link_to "Sign Up", signup_url %></li>
		<% end %>
	</ul>
</div>
<hr />
<div id="navigation">
	<div id="navigation_bar" class="content_area">
		<ul id="content_nav">
			<% current_tag(:li, @current_tab == :Home) do %>
				<%= link_to "Home", community_home_url, :class => 'home_link' %>
			<% end %>
			<% current_tag(:li, @current_tab == :Article) do %>
				<%= link_to "Library", articles_url, :class => 'library_link' %>
			<% end %>
			<% current_tag(:li, @current_tab == :Courses) do %>
				<%= link_to "Courses", courses_url, :class => 'courses_link' %>
			<% end %>
			<% current_tag(:li, @current_tab == :Discussions) do %>
				<%= link_to "Discussions", discussions_url, :class => 'discussions_link' %>
			<% end %>
			<% current_tag(:li, @current_tab == :People) do %>
				<%= link_to "People", users_url, :class => 'people_link' %>
			<% end %>
		</ul>
		<ul id="global_nav">
			<li class="about_link"><a href="/about">About</a></li>
			<li class="contact_link"><a href="/contact">Contact</a></li>
		</ul>
	</div>
</div>
<hr />