<div class="outer_wrapper head">
  <div id="header">
    <div class="community_title">
      <a href="<%= community_home_url %>" class="logo"><img src="/images/logo.gif" alt="Verticality" /></a><h1><a href="<%= community_home_url %>"><%= current_community %></a></h1>
    </div>

    <div class="user_controls">
      <% if logged_in? %>
        Welcome, <i><%= current_user %></i>&nbsp;|
        <a href="<%= user_url(current_user) %>" title="Your Profile">Your Profile</a>&nbsp;|
    	
      	<% if logged_in_as_owner? %>
      	  <%= link_to "Community Setup", edit_community_url %>&nbsp;|
      	<% end %>
    	
        <%= link_to('Logout', logout_url) %>
      
        <% else %>
      	  <%= link_to('Login', login_url) %> | 
      	  <%= link_to "Signup", signup_url %>
      <% end %>
    </div>

    <ul class="navigation_top">
      <% current_tag(:li, @current_tab == :Courses) do %>
        <%= link_to "Courses", courses_url %>
      <% end %>

      <% current_tag(:li, @current_tab == :Discussions) do %>
        <%= link_to "Discussions", discussions_url %>
      <% end %>

      <% current_tag(:li, @current_tab == :People) do %>
        <%= link_to "People", users_url %>
      <% end %>
    </ul>

  </div>
</div>

<div class="outer_wrapper section">
  <div id="section">
    <h2><%= @current_tab %></h2>
  </div>
</div>