<div class="head">
  <div id="header">
    <div class="community_title">
      <a href="<%= community_home_url %>" class="logo"><img src="/images/ND_com/ND_logo.gif" alt="Verticality" /></a><h1><a href="<%= community_home_url %>"><%= current_community %></a></h1>
    </div>

    <div class="user_controls">
      <% if logged_in? %>
        <em>Welcome,</em> <%= link_to current_user, user_url(current_user) %> &nbsp;|&nbsp;
    	
      	<% if logged_in_as_owner? %>
      	  <%= link_to "Community Setup", edit_community_url %> &nbsp;|&nbsp;
      	<% end %>
    	
        <%= link_to('Logout', logout_url) %>
      
        <% else %>
      	  <%= link_to('Login', login_url) %> | 
      	  <%= link_to "Signup", signup_url %>
      <% end %>
    </div>

    <ul class="navigation_top">
      <% current_tag(:li, @current_tab == :Courses) do %>
        <%= link_to "Courses", community_home_url, :class => 'courses' %>
      <% end %>

      <% current_tag(:li, @current_tab == :Discussions) do %>
        <%= link_to "Discussions", discussions_url, :class => 'discussions' %>
      <% end %>

      <% current_tag(:li, @current_tab == :People) do %>
        <%= link_to "People", users_url, :class => 'people' %>
      <% end %>
    </ul>

  </div>
</div>

<div id="section">
  <h2><%= @current_tab %></h2>
</div>