<div id="header">

  <div class="community_name">
    <a href="<%= community_home_url %>" class="logo"><img src="/images/logo.gif" alt="Verticality" /></a><h1><a href="<%= community_home_url %>"><%= current_community %></a></h1>
  </div>

  <ul class="navigation_top">
    <% current_tag(:li, @current_tab == :learn) do %>
      <%= link_to "Learn", courses_url %>
    <% end %>
    
    <% current_tag(:li, @current_tab == :discuss) do %>
      <%= link_to "Discuss", discussions_url %>
    <% end %>
    
    <% current_tag(:li, @current_tab == :connect) do %>
      <%= link_to "Connect", users_url %>
    <% end %>
  </ul>

  <div class="user_controls">
    <% if logged_in? %>
      <%= link_to("My Profile", user_url(current_user)) %> &nbsp;|&nbsp; 
  	
    	<% if logged_in_as_owner? %>
    	  <%= link_to "Community Setup", edit_community_url %>
    	  &nbsp;|&nbsp;
    	<% end %>

    	<%= link_to('Logout', logout_url) %>
  	
    
    <% else %>
    	<%= link_to('Login', login_url) %> | 
    	<%= link_to "Signup", signup_url %>
    <% end %>
  </div>
</div>                  

